---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$unit:              1rem;

$font-family:   	'Muli', sans-serif;
$font-size:      	$unit * 1.8;
$font-size-medium:  $unit * 1.6;
$font-size-small:   $unit * 1.4;
$font-size-tiny:    $unit * 1.2;
$font-weight:    	300;
$font-weight-heavy: 400;
$font-weight-bold:  700;
$line-height: 	    1.5;

$white:             #fff;
$black:             #000;
$black-trans:       rgba(0,0,0,0.5);
$grey:       		#999999;
$grey-light: 		lighten($grey, 16%);
$grey-dark:  		darken($grey, 18%);
$grey-pale: 		lighten($grey, 24%);

$text-color:       	$grey;
$background-color: 	$white;

$link:              $grey-dark;
$link-hover:        $grey-light;

// Width of the content area
$content-width:    	100%;

$on-palm:           350px;
$on-mobile:         500px;
$on-400:            400px;
$on-500:            500px;
$on-600:            600px;
$on-700:            700px;
$on-800:            800px;
$on-900:            900px;
$on-1000:           1000px;
$on-1100:           1100px;
$on-1200:           1200px;
$on-tablet:         800px;
$on-laptop:        	1000px;
$on-full:           100%;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $unit / 2;
//         padding-left: $unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "header",
        "footer",
        "layout",
        "pages",
        "landing",
        "share",
        "visuals",
        "syntax-highlighting",
        "consent"
;
