<div class="projects-recent">

<h2>Computer Generated Images</h2>
    
<ul class="list">

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/late-georgian-house-r.jpg" title="Late Georgian House">
<img class="lazy" src="/images/projects/thumbs/late-georgian-house-r.jpg" alt="Late Georgian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/colonial-house-cgi.jpg" title="Colonial Style House">
<img class="lazy" src="/images/projects/thumbs/colonial-house-cgi.jpg" alt="Colonial Style House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/late-georgian-house-f.jpg" title="Late Georgian House">
<img class="lazy" src="/images/projects/thumbs/late-georgian-house-f.jpg" alt="Late Georgian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/22112401.jpg" title="Classical House">
<img class="lazy" src="/images/projects/thumbs/22112401.jpg" alt="Classical House, Option 1">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/240403-janda.jpg" title="">
<img class="lazy" src="/images/projects/thumbs/240403-janda.jpg" alt="Janda">
</a>
</li>
    
<!--<li class="third">
<a class="fancybox" rel="group" href="/images/projects/22112402.jpg" title="">
<img class="lazy" src="/images/projects/thumbs/22112402.jpg" alt="Classical House, Option 2">
</a>
</li>-->
    
<li class="third">
<a class="fancybox" rel="group" href="/images/projects/22112403.jpg" title="Classical House">
<img class="lazy" src="/images/projects/thumbs/22112403.jpg" alt="Classical House, Option 3">
</a>
</li>
    
<li class="third">
<a class="fancybox" rel="group" href="/images/projects/EXT01_CANDOVER_B6_7K.jpg" title="Designed in collaboration with Finchatton">
<img class="lazy" src="/images/projects/thumbs/EXT01_CANDOVER_B6_7K.jpg" alt="Designed in collaboration with Finchatton">
</a>
</li>
    
<li class="third">
<a class="fancybox" rel="group" href="/images/projects/EXT02_CANDOVER_B4_7K.jpg" title="Designed in collaboration with Finchatton">
<img class="lazy" src="/images/projects/thumbs/EXT02_CANDOVER_B4_7K.jpg" alt="Designed in collaboration with Finchatton">
</a>
</li>
    
<li class="third">
<a class="fancybox" rel="group" href="/images/projects/EXT03_CANDOVER_B4_7K.jpg" title="Designed in collaboration with Finchatton">
<img class="lazy" src="/images/projects/thumbs/EXT03_CANDOVER_B4_7K.jpg" alt="Designed in collaboration with Finchatton">
</a>
</li>

</ul>

</div>