<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "position": "top",
    "static": true,
    "type": "opt-out",
    "content": {
      "message": "We use cookies to operate our site and improve our services. Find out more:",
      "dismiss": "Allow",
      "deny": "Disable",
      "link": "Cookie Policy",
      "href": "https://acecomics.co.uk/cookies/"
    },
    "onStatusChange": function(status, chosenBefore) {
      var type = this.options.type;
      var didConsent = this.hasConsented();
      if (type == 'opt-out' && !didConsent) {
        window.open('https://cookies.insites.com/disable-cookies/','_blank');
      }
    }
})});
</script>

