		{% if page.article or page.title == 'Drawings' or page.title == 'Gallery' or page.title == 'Projects' %}

		<script type="text/javascript">
			$(document).ready(function() {
				$(".fancybox").fancybox();
			});
		</script>
		
		<script src="/js/jquery.lazyload/jquery.lazyload.js"></script>
		<script>
			$(function() {
				$("img.lazy").lazyload({
					effect: "fadeIn"
				});
				$("img.lazy").css({
					display: 'block'
				});
			});
		</script>
		
		{% endif %}
		
		{% if page.title == 'Drawings' or page.title == 'Gallery' or page.title == 'Projects' %}
		
		<script type="text/javascript">
			$(function() {
				$('.random').randomize('li');
			});
			$.fn.randomize = function(selector){
				(selector ? this.find(selector) : this).parent().each(function(){
					$(this).children(selector).sort(function(){
						return Math.random() - 0.5;
					}).detach().appendTo(this);
				});

				return this;
			};
		</script>
		
		{% endif %}
		
		{% if page.title == 'Test page' %}
		
		<script type="text/javascript">
			$(document).ready(function() {
				$(".fancybox")
				.attr('rel', 'gallery')
				.fancybox({
					beforeShow: function () {
						if (this.title) {
							// New line
							this.title += '<br />';
						} else {
							this.title = '';
						}
                
							
							// Open div and add FaceBook button
							this.title += '<div class="fancybox-social"><a href="https://facebook.com/sharer.php?u=' + this.href + '" class="sharing-image fb" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/images/social/social-sharing-button-fb-share.png" alt="Share on Facebook" /></a>';
                
							// Add tweet button
							this.title += '<a href="https://twitter.com/share" class="sharing-image tweet" data-count="none" data-url="' + this.href + '"><img src="/images/social/social-sharing-button-tweet.png" alt="Share on Twitter" /></a>';
                
							// Add Google+ button and close div
							this.title += '<a href="https://plus.google.com/share?url=' + this.href + '" class="sharing-image gplus" rel="nofollow" target="_blank" title="Share on Google+"><img src="/images/social/social-sharing-button-plus.png" alt="Share on Google+" /></a></div><div class="clearfix"></div>';
      
					},
					afterShow: function() {
            // Render tweet button
            twttr.widgets.load();
					},
					helpers : {
						title : {
                type: 'inside'
            }
					}  
				});
			});
		</script>
		
		{% endif %}
		
		{% if page.title == 'Test page 2' %}
		
		<script type="text/javascript">
			$(document).ready(function() {
				$(".fancybox")
				.attr('rel', 'gallery')
				.fancybox({
					beforeShow: function () {
						if (this.title) {
							// New line
							this.title += '<br />';
						} else {
							this.title = '';
						}
                
							//Add Social div
							this.title += '<li class="social-overlay">';
							
							// Add FaceBook button
							this.title += '<a href="https://facebook.com/sharer.php?u=' + window.location.origin + this.href + '" class="sharing-image-fancybox fb" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/images/social/social-sharing-button-fb-share.png" alt="Share on Facebook" class="social-wide" /><img src="/images/social/social-sharing-icon-fb-share.png" alt="Share on Facebook" class="social-narrow" /></a>';
							
							// Add tweet button
							this.title += '<a href="https://twitter.com/intent/tweet?url=' + encodeURI(window.location.origin + this.href) + '" class="sharing-image-fancybox tweet" data-count="none"><img src="/images/social/social-sharing-button-tweet.png" alt="Share on Twitter" class="social-wide" /><img src="/images/social/social-sharing-icon-tweet.png" alt="Share on Twitter" class="social-narrow" /></a>';
							
							// Add Google+ button
							this.title += '<a href="https://plus.google.com/share?url=' + window.location.origin + this.href + '" class="sharing-image-fancybox gplus" rel="nofollow" target="_blank" title="Share on Google+"><img src="/images/social/social-sharing-button-plus.png" alt="Share on Google+" class="social-wide" /><img src="/images/social/social-sharing-icon-plus.png" alt="Share on Google+" class="social-narrow" /></a>';
							
							// Add Pinterest button
							//<a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
							this.title += '<a href="http://pinterest.com/pin/create/button/?url=' + window.location.origin + this.href + '" class="sharing-image-fancybox pin last" rel="nofollow" target="_blank" title="Share on Pinterest"><img src="/images/social/social-sharing-button-pin.png" alt="Share on Pinterest" class="social-wide" /><img src="/images/social/social-sharing-icon-pin.png" alt="Share on Pinterest" class="social-narrow" /></a>';
							
							//Close social-overlay div and fancybox-title div
							this.title += '</li></ul></div><div class="clearfix"></div>';
      
					},
					helpers : {
						title : {
                type: 'inside'
            }
					}  
				});
			});
		</script>
		
		{% endif %}
		
		{% if page.title == 'Test page 3' %}
		
		<script type="text/javascript">
			$(document).ready(function() {
				$(".fancybox")
				.attr('rel', 'gallery')
				.fancybox({
					beforeShow: function () {
						if (this.title) {
							// New line
							this.title += '<br />';
						} else {
							this.title = '';
						}
                
							
							// Open div and add FaceBook button
							this.title += '<div class="fancybox-social-3"><a href="https://facebook.com/sharer.php?u=' + this.href + '" class="sharing-image-fancybox fb" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/images/social/social-sharing-button-fb-share.png" alt="Share on Facebook" /></a>';
                
							// Add tweet button
							this.title += '<a href="https://twitter.com/share" class="sharing-image-fancybox tweet" data-count="none" data-url="' + this.href + '"><img src="/images/social/social-sharing-button-tweet.png" alt="Share on Twitter" /></a>';
                
							// Add Google+ button and close div
							this.title += '<a href="https://plus.google.com/share?url=' + this.href + '" class="sharing-image-fancybox gplus" rel="nofollow" target="_blank" title="Share on Google+"><img src="/images/social/social-sharing-button-plus.png" alt="Share on Google+" /></a></div><div class="clearfix"></div>';
      
					},
					afterShow: function() {
            // Render tweet button
            twttr.widgets.load();
					},
					helpers : {
						title : {
                type: 'inside'
            }
					}  
				});
			});
		</script>
		
		{% endif %}
		
		{% if page.title == 'Test page 4' %}
		
		<script type="text/javascript">
			$(document).ready(function() {
				$(".fancybox")
				.attr('rel', 'gallery')
				.fancybox({
					beforeShow: function () {
						if (this.title) {
							// New line
							this.title += '<br />';
						} else {
							this.title = '';
						}
                
							
							// Open div and add FaceBook button
							this.title += '<div class="fancybox-social-4"><a href="https://facebook.com/sharer.php?u=' + this.href + '" class="sharing-image-fancybox fb" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/images/social/social-sharing-button-fb-share.png" alt="Share on Facebook" /></a>';
                
							// Add tweet button
							this.title += '<a href="https://twitter.com/share" class="sharing-image-fancybox tweet" data-count="none" data-url="' + this.href + '"><img src="/images/social/social-sharing-button-tweet.png" alt="Share on Twitter" /></a>';
                
							// Add Google+ button and close div
							this.title += '<a href="https://plus.google.com/share?url=' + this.href + '" class="sharing-image-fancybox gplus" rel="nofollow" target="_blank" title="Share on Google+"><img src="/images/social/social-sharing-button-plus.png" alt="Share on Google+" /></a></div><div class="clearfix"></div>';
      
					},
					afterShow: function() {
            // Render tweet button
            twttr.widgets.load();
					},
					helpers : {
						title : {
                type: 'inside'
            }
					}  
				});
			});
		</script>
		
		{% endif %}
