{% if page.article or page.title == 'Drawings' or page.title == 'Full Size Rendered Drawings' or page.title == 'Miscellaneous Drawings' or page.title == 'Sketches' or page.title == 'Watercolours' or page.title == 'Projects Visual' or page.title == 'Projects' %}
<!-- Fancybox / Lazyload -->
<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>

<script src="/js/jquery.lazyload/jquery.lazyload.js"></script>
<script>
  $(function() {
    $("img.lazy").lazyload({
      effect: "fadeIn"
    });
    $("img.lazy").css({
      display: 'block'
    });
  });
</script>
{% endif %}

{% if page.title == 'Gallery' or page.title == 'Projects' %}
<!-- Randomize -->
<script type="text/javascript">
  $(function() {
    $('.random').randomize('li');
  });
  $.fn.randomize = function(selector){
    (selector ? this.find(selector) : this).parent().each(function(){
      $(this).children(selector).sort(function(){
        return Math.random() - 0.5;
      }).detach().appendTo(this);
    });

    return this;
  };
</script>
{% endif %}

{% unless page.pageclass == 'videos-page' or page.title == 'Projects' or page.title == 'Projects Visual' %}
<!-- Fancybox (no social links) -->
<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox")
      .attr('rel', 'gallery')
      .fancybox({
        beforeShow: function () {
          // Retain existing title behaviour but remove social share elements
          if (this.title) {
            this.title += '<br />';
          } else {
            this.title = '';
          }
        },
        helpers : {
          title : {
            type: 'inside'
          }
        }
      });
  });
</script>
{% endunless %}
