<nav class="site-nav">
	<input type="checkbox" id="nav-trigger" class="nav-trigger" />
	<label for="nav-trigger" class="nav-label">
		<span class="menu-icon">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="10px" viewBox="2 2.5 14 10" enable-background="new 2 2.5 14 10" xml:space="preserve">
				<g>
					<rect x="2" y="2.5" width="14" height="2"/>
					<rect x="2" y="6.5" width="14" height="2"/>
					<rect x="2" y="10.5" width="14" height="2"/>
				</g>
			</svg>
		</span>
	</label>
        

      <div class="trigger">
		<span class="page-link sub-menu-trigger">
			<span class="sub-menu-title">About</span>
			<ul class="sub-menu">
				<li>
					<a class="page-link" href="/practice/">Practice</a>
				</li>
				<li>
					<a class="page-link" href="/category/news">News</a>
				</li>
				<li>
					<a class="page-link" href="/category/thoughts">Thoughts</a>
				</li>
				<li>
					<a class="page-link" href="/drawings/">Drawings</a>
				</li>
				<li>
					<a class="page-link" href="/book/">Books</a>
				</li>
				<li>
					<a class="page-link" href="/recruitment/">Recruitment</a>
				</li>
			</ul>
		</span>
		<span class="page-link sub-menu-trigger">
			<span class="sub-menu-title">Projects</span>
			<ul class="sub-menu sub-menu-2">
				<li>
					<a class="page-link" href="/category/projects">Houses</a>
				</li>
				<li>
					<a class="page-link" href="/category/urbanism">Urbanism</a>
				</li>
			</ul>
		</span>
		<a class="page-link taster-link" href="/taster-day/">Taster Day</a>
      	<a class="page-link" href="/contact/">Contact</a>
      </div>
	
</nav>