<nav class="site-nav">
    <button class="hamburger" id="menu-toggle" aria-label="Toggle Menu">☰</button>
    <div class="menu" id="nav-menu">
      <div class="dropdown">
        <button class="dropdown-toggle">About</button>
        <div class="sub-menu">
          <a href="/practice/">Practice</a>
          <a href="/category/news">News</a>
          <a href="/category/thoughts">Thoughts</a>
          <a href="/drawings/">Drawings</a>
          <a href="/book/">Books</a>
          <a href="/videos/">Videos</a>
          <a href="/recruitment/">Recruitment</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropdown-toggle">Projects</button>
        <div class="sub-menu">
          <a href="/category/projects">Houses</a>
          <a href="/category/urbanism">Urbanism</a>
        </div>
      </div>
      <a class="page-link" href="/taster-day/">Taster Day</a>
      <a class="page-link" href="/contact/">Contact</a>
    </div>
</nav>