<div class="prefooter">

	<div class="wrapper">
	
		<ul class="list">

			<li class="third">
				<a class="promo" href="/thoughts/">
					<img src="/images/essays/venice/thumbs/a-holiday-in-venice.jpg" />
					<h2>Blog</h2>
				<p>Read my thoughts</p>
				</a>
			</li>

			<li class="third">
				<a class="promo" href="/gallery/">
					<img src="/images/projects/thumbs/orangery-in-norfolk-1.jpg" />
					<h2>Projects</h2>
				<p>Browse our Projects</p>
				</a>
			</li>

			<li class="third last">
				<a class="promo" href="/practice/">
					<img src="/images/practice/thumbs/fta-office.jpg" />
					<h2>The Practice</h2>
				<p>Meet the wider team </p>
				</a>
			</li>
			<div class="clearfix"></div>

		</ul>

	</div>
			
</div>