<div class="prefooter">

	<div class="wrapper">
	
		<ul class="list">

			<li class="third">
				<a class="promo" href="/gallery/">
					<img src="/images/projects/thumbs/orangery-in-norfolk-1.jpg" />
					<div class="prefooter-text">
						<h2>Projects</h2>
					</div>
					<p>Browse our Projects</p>
				</a>
			</li>

			<li class="third">
				<a class="promo" href="/thoughts/">
					<img src="/images/essays/venice/thumbs/a-holiday-in-venice.jpg" />
					<div class="prefooter-text">
						<h2>Blog</h2>
					</div>
					<p>Read my thoughts</p>
				</a>
			</li>

			<li class="third last">
				<a class="promo" href="/taster-day/">
					<img src="/images/feature/thumbs/taster-hero.jpg" />
					<div class="prefooter-text">
						<h2>Taster Day</h2>
					</div>
					<p>Book a Taster Day</p>
				</a>
			</li>			
			
			<div class="clearfix"></div>

		</ul>

	</div>
			
</div>