<div class="prefooter">

	<div class="wrapper">
	
		<ul class="list">

			<li class="third">
				<a class="promo" href="">
					<img src="/images/projects/thumbs/img2475.jpg" />
					<h2>Projects</h2>
				</a>
			</li>

			<li class="third">
				<a class="promo" href="">
					<img src="/images/projects/thumbs/img2475.jpg" />
					<h2>Blog</h2>
				</a>
			</li>

			<li class="third last">
				<a class="promo" href="">
					<img src="/images/projects/thumbs/img2475.jpg" />
					<h2>Taster Day</h2>
				</a>
			</li>
			<div class="clearfix"></div>

		</ul>

	</div>
			
</div>