<div class="projects-recent">

<h2>Recent Work</h2>

<ul class="list">

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20181204092019.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20181204092019.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0425-2.jpg" title="Stone Country House North Elevation">
<img class="lazy" src="/images/projects/thumbs/0425-1.jpg" alt="Stone Country House North Elevation">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190320-1.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190320-1.jpg" alt="Stone Country House">
</a>
</li>

<!--<li class="third">
<a class="fancybox" rel="group" href="/images/projects/6048-1.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/stone-country-house-03.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/palladian-03.jpg" title="Palladian House">
<img class="lazy" src="/images/projects/thumbs/palladian-03.jpg" alt="Palladian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/queen-ann-style-orangery.jpg" title="Queen Ann Style Orangery">
<img class="lazy" src="/images/projects/thumbs/queen-ann-style-orangery.jpg" alt="Queen Ann Style Orangery">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/mundham-topiary.jpg" title="Queen Ann Style Orangery with Topiary">
<img class="lazy" src="/images/projects/thumbs/mundham-topiary.jpg" alt="Queen Ann Style Orangery with Topiary">
</a>
</li>

-->

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/2019-04-30-0169.jpg">
<img class="lazy" src="/images/projects/thumbs/2019-04-30-0169.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/2019-04-30-0137.jpg">
<img class="lazy" src="/images/projects/thumbs/2019-04-30-0137.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/2019-04-30-0164.jpg">
<img class="lazy" src="/images/projects/thumbs/2019-04-30-0164.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-19.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-19.jpg" alt="Classical Summerhouse">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-09.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-09.jpg" alt="Classical Summerhouse">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-13.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-13.jpg" alt="Classical Summerhouse">
</a>
</li>

<!--<li class="third">
<a class="fancybox" rel="group" href="/images/projects/palladian-04.jpg" title="Palladian House">
<img class="lazy" src="/images/projects/thumbs/palladian-04.jpg" alt="Palladian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/palladian-05.jpg" title="Palladian House">
<img class="lazy" src="/images/projects/thumbs/palladian-05.jpg" alt="Palladian House">
</a>
</li>-->

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/palladian-01.jpg" title="Palladian House">
<img class="lazy" src="/images/projects/thumbs/palladian-01.jpg" alt="Palladian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/palladian-02.jpg" title="Palladian House">
<img class="lazy" src="/images/projects/thumbs/palladian-02.jpg" alt="Palladian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/palladian-06.jpg" title="Palladian House">
<img class="lazy" src="/images/projects/thumbs/palladian-06.jpg" alt="Palladian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/late-georgian-house-r.jpg" title="Late Georgian House">
<img class="lazy" src="/images/projects/thumbs/late-georgian-house-r.jpg" alt="Late Georgian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/colonial-house-cgi.jpg" title="Colonial Style House">
<img class="lazy" src="/images/projects/thumbs/colonial-house-cgi.jpg" alt="Colonial Style House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/late-georgian-house-f.jpg" title="Late Georgian House">
<img class="lazy" src="/images/projects/thumbs/late-georgian-house-f.jpg" alt="Late Georgian House">
</a>
</li>

<!--<li class="third">
<a class="fancybox" rel="group" href="/images/projects/house-in-surrey.jpg" title="French Classical House">
<img class="lazy" src="/images/projects/thumbs/house-in-surrey.jpg" alt="French Classical House">
</a>
</li>-->

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/house-in-norfolk-03.jpg" title="Georgian House">
<img class="lazy" src="/images/projects/thumbs/house-in-norfolk-03.jpg" alt="Georgian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/house-in-norfolk-02.jpg" title="Georgian House">
<img class="lazy" src="/images/projects/thumbs/house-in-norfolk-02.jpg" alt="Georgian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/house-in-norfolk-00.jpg" title="Georgian House">
<img class="lazy" src="/images/projects/thumbs/house-in-norfolk-00.jpg" alt="Georgian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/english-manor-house.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/english-manor-house.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/news/2018/06/watercolour.jpg" title="Country House">
<img class="lazy" src="/images/projects/thumbs/watercolour.jpg" alt="Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/cgi-proposal.jpg" title="Regency House">
<img class="lazy" src="/images/projects/thumbs/cgi-proposal.jpg" alt="Regency House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/mundham-house-type.jpg" title="The Mundham House Type">
<img class="lazy" src="/images/projects/thumbs/mundham-house-type.jpg" alt="The Mundham House Type">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/orangery-in-norfolk-4.jpg">
<img class="lazy" src="/images/projects/thumbs/orangery-in-norfolk-4.jpg" alt="Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/5-bedroom-house-for-halsbury-homes.jpg" title="New 5 bedroom house for Halsbury Homes">
<img class="lazy" src="/images/projects/thumbs/5-bedroom-house-for-halsbury-homes.jpg" alt="New 5 bedroom house for Halsbury Homes">
</a>
</li>

</ul>

</div>

<div class="projects-head">
<h2>Past Projects</h2>
<p>Francis spent over 20 years working for his father the eminent classical architect Quinlan Terry. The projects below were designed under that partnership.</p>
</div>