<div class="projects-recent">

<h2>Recent Work</h2>

<ul class="list">

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190807.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190807.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190808.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190808.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190809.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190809.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190801.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190801.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190804.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190804.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190806.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190806.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" id="1001" rel="group" href="/images/projects/125A4629.jpg" title="Photo: Kingerlee, Charles Birchmore Photography">
<img class="lazy" src="/images/projects/thumbs/125A4629.jpg" alt="Photo: Kingerlee, Charles Birchmore Photography">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/4K4A4190.jpg" title="Photo: Kingerlee, Charles Birchmore Photography">
<img class="lazy" src="/images/projects/thumbs/4K4A4190.jpg" alt="Photo: Kingerlee, Charles Birchmore Photography">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/4K4A4090.jpg" title="Photo: Kingerlee, Charles Birchmore Photography">
<img class="lazy" src="/images/projects/thumbs/4K4A4090.jpg" alt="Photo: Kingerlee, Charles Birchmore Photography">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-01.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-01.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-04.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-04.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-07.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-07.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-11.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-11.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-17.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-17.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-16.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-16.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-19.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-19.jpg" alt="Classical Summerhouse">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-09.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-09.jpg" alt="Classical Summerhouse">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-13.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-13.jpg" alt="Classical Summerhouse">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-1.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-1.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-2.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-2.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-3.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-3.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-4.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-4.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-5.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-5.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-6.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-6.jpg" alt="House in Norfolk">
</a>
</li>

</ul>

<div class="projects-recent">

<h2>Computer Generated Images</h2>
    
<ul class="list">

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/late-georgian-house-r.jpg" title="Late Georgian House">
<img class="lazy" src="/images/projects/thumbs/late-georgian-house-r.jpg" alt="Late Georgian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/colonial-house-cgi.jpg" title="Colonial Style House">
<img class="lazy" src="/images/projects/thumbs/colonial-house-cgi.jpg" alt="Colonial Style House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/late-georgian-house-f.jpg" title="Late Georgian House">
<img class="lazy" src="/images/projects/thumbs/late-georgian-house-f.jpg" alt="Late Georgian House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/22112401.jpg" title="">
<img class="lazy" src="/images/projects/thumbs/22112401.jpg" alt="Classical House, Option 1">
</a>
</li>
    
<li class="third">
<a class="fancybox" rel="group" href="/images/projects/22112402.jpg" title="">
<img class="lazy" src="/images/projects/thumbs/22112402.jpg" alt="Classical House, Option 2">
</a>
</li>
    
<li class="third">
<a class="fancybox" rel="group" href="/images/projects/22112403.jpg" title="">
<img class="lazy" src="/images/projects/thumbs/22112403.jpg" alt="Classical House, Option 3">
</a>
</li>

</ul>

</div>

<div class="projects-head">
<h2>Past Projects</h2>
<p>Francis spent over 20 years working with his father the eminent classical architect Quinlan Terry. The projects below were designed under that partnership.</p>
</div>