<div class="projects-recent">

<h2>Recent Work</h2>

<ul class="list">

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190807.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190807.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190808.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190808.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190809.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190809.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190801.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190801.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190804.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190804.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/20190806.jpg" title="Stone Country House">
<img class="lazy" src="/images/projects/thumbs/20190806.jpg" alt="Stone Country House">
</a>
</li>

<li class="third">
<a class="fancybox" id="1001" rel="group" href="/images/projects/125A4629.jpg" title="Photo: Kingerlee, Charles Birchmore Photography">
<img class="lazy" src="/images/projects/thumbs/125A4629.jpg" alt="Photo: Kingerlee, Charles Birchmore Photography">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/4K4A4190.jpg" title="Photo: Kingerlee, Charles Birchmore Photography">
<img class="lazy" src="/images/projects/thumbs/4K4A4190.jpg" alt="Photo: Kingerlee, Charles Birchmore Photography">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/4K4A4090.jpg" title="Photo: Kingerlee, Charles Birchmore Photography">
<img class="lazy" src="/images/projects/thumbs/4K4A4090.jpg" alt="Photo: Kingerlee, Charles Birchmore Photography">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-01.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-01.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-04.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-04.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-07.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-07.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-11.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-11.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-17.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-17.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/wield-park-16.jpg" title="English Manor House">
<img class="lazy" src="/images/projects/thumbs/wield-park-16.jpg" alt="English Manor House">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-19.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-19.jpg" alt="Classical Summerhouse">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-09.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-09.jpg" alt="Classical Summerhouse">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/eastridge-summer-house-13.jpg" title="Classical Summerhouse">
<img class="lazy" src="/images/projects/thumbs/eastridge-summer-house-13.jpg" alt="Classical Summerhouse">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-1.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-1.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-2.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-2.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-3.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-3.jpg" alt="House in Norfolk">
</a>
</li>

<!--<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-4.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-4.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-5.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-5.jpg" alt="House in Norfolk">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/0124-6.jpg">
<img class="lazy" src="/images/projects/thumbs/0124-6.jpg" alt="House in Norfolk">
</a>
</li>-->

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/higham-park-06.jpg">
<img class="lazy" src="/images/projects/thumbs/higham-park-06.jpg" alt="Higham Park">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/higham-park-17.jpg">
<img class="lazy" src="/images/projects/thumbs/higham-park-17.jpg" alt="Higham Park">
</a>
</li>

<li class="third">
<a class="fancybox" rel="group" href="/images/projects/higham-park-19.jpg">
<img class="lazy" src="/images/projects/thumbs/higham-park-19.jpg" alt="Higham Park">
</a>
</li>

</ul>

</div>
<h2>Castle Howard</h2>
<ul class="list blog">
    <li>
      <a href="/projects/castle-howard/" alt="Castle Howard">
        <img src="/images/news/2025/CHDR-tall.jpg" alt="Castle Howard" class="tall" />
        <img src="/images/news/2025/CHDR-wide.jpg" alt="Castle Howard" class="wide" />
      </a>
      <div class="blog-text">
        <p>The new Tapestry Drawing Room at Castle Howard is a completely new architectural treatment to a room which was destroyed by fire in 1940. The brief was to restore the room to what Vanbrugh would have done and incorporate the four Vanderbank tapestries which were designed and woven for the room in 1706.</p>
        <p><a class="post-link" href="/projects/castle-howard/">Read more</a></p>
      </div>
    </li>
</ul>

<h2>House in Suffolk</h2>
<ul class="list blog">
    <li>
      <a href="/projects/house-in-suffolk/" alt="House in Suffolk">
        <img src="/images/projects/house-in-suffolk/tall.jpg" alt="House in Suffolk" class="tall" />
        <img src="/images/projects/house-in-suffolk/wide.jpg" alt="House in Suffolk" class="wide" />
      </a>
      <div class="blog-text">
        <p>The house in Suffolk was an alteration and extension to a modern classical house. In 2017, Francis Terry was appointed by a new client to extend and improve the property. This presented a rare opportunity to revisit the earlier design, elevate the architecture, and create a more resolved and site-responsive composition.</p>
        <p><a class="post-link" href="/projects/house-in-suffolk/">Read more</a></p>
      </div>
    </li>
</ul>

<h2>House in Hampshire</h2>
<ul class="list blog">
    <li>
      <a href="/projects/house-in-hampshire/" alt="House in Hampshire">
        <img src="/images/projects/house-in-hampshire/tall.jpg" alt="House in Hampshire" class="tall" />
        <img src="/images/projects/house-in-hampshire/wide.jpg" alt="House in Hampshire" class="wide" />
      </a>
      <div class="blog-text">
        <p>The success of a new country house depends, in large part, on how it reads within its landscape setting, and Wield Park, near Alresford in Hampshire, designed by Francis Terry and completed in 2020, is an inspiring example of a house rooted in the history and character of its surroundings.</p>
        <p><a class="post-link" href="/projects/house-in-hampshire/">Read more</a></p>
      </div>
    </li>
</ul>

<h2>House in Wiltshire</h2>
<ul class="list blog">
    <li>
      <a href="/projects/house-in-wiltshire/" alt="House in Wiltshire">
        <img src="/images/projects/house-in-wiltshire/tall.jpg" alt="House in Wiltshire" class="tall" />
        <img src="/images/projects/house-in-wiltshire/wide.jpg" alt="House in Wiltshire" class="wide" />
      </a>
      <div class="blog-text">
        <p>This new house in Wiltshire, completed in 2018, is a contemporary demonstration of new houses that on one level feel like sketches of old organic houses, but with all the advantages of better building systems, resulting in a finely modelled house, a two-story, five-bay classical block with low two-storey wings, mansard roofs and an additional eastern range that faces a walled garden.</p>
        <p><a class="post-link" href="/projects/house-in-wiltshire/">Read more</a></p>
      </div>
    </li>
</ul>

<h2>Orangery in Norfolk</h2>
<ul class="list blog">
    <li>
      <a href="/projects/orangery-in-norfolk/" alt="Orangery in Norfolk">
        <img src="/images/projects/orangery-in-norfolk/tall.jpg" alt="Orangery in Norfolk" class="tall" />
        <img src="/images/projects/orangery-in-norfolk/wide.jpg" alt="Orangery in Norfolk" class="wide" />
      </a>
      <div class="blog-text">
        <p>The new orangery at a house in Norfolk, completed in 2017, was conceived as a sensitive yet striking extension to the existing home. The goal was not only to increase the footprint of the property but also to enhance the quality of light, flow, and connection to the surrounding garden.</p>
        <p><a class="post-link" href="/projects/orangery-in-norfolk/">Read more</a></p>
      </div>
    </li>
</ul>

<hr><br/><br/>

<div class="projects-head">
<h2>Past Projects</h2>
<p>Francis spent over 20 years working with his father the eminent classical architect Quinlan Terry. The projects below were designed under that partnership.</p>
</div>