<div class="post-links">

	<h4>You might also like...</h4>

	<ul class="list">

	{% if page.categories contains "news" %}
		{% assign recentPosts = site.categories.news | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:4 %}

			{% include sitelinkcontent.html %}

		{% endfor %}
  
	{% elsif page.categories contains "projects" %}
		{% assign recentPosts = site.categories.projects | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:4 %}

			{% include sitelinkcontent.html %}

		{% endfor %}
  
	{% elsif page.categories contains "annecdotes" %}
		{% assign recentPosts = site.categories.annecdotes | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:4 %}

			{% include sitelinkcontent.html %}

		{% endfor %}
  
	{% elsif page.categories contains "buildings" %}
		{% assign recentPosts = site.categories.buildings | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:4 %}

			{% include sitelinkcontent.html %}

		{% endfor %}
  
		{% elsif page.categories contains "history" %}
			{% assign recentPosts = site.categories.history | where_exp:"item", "item.url != page.url" %}
			{% for post in recentPosts limit:4 %}
	
				{% include sitelinkcontent.html %}
	
			{% endfor %}
 
	{% elsif page.categories contains "places" %}
		{% assign recentPosts = site.categories.places | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:4 %}

			{% include sitelinkcontent.html %}

		{% endfor %}
 
	{% elsif page.categories contains "places" %}
		{% assign recentPosts = site.categories.places | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:4 %}

			{% include sitelinkcontent.html %}

		{% endfor %}
  
	{% elsif page.categories contains "theory" %}
		{% assign recentPosts = site.categories.theory | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:4 %}

			{% include sitelinkcontent.html %}

		{% endfor %}
  
	{% elsif page.categories contains "urbanism" %}
		{% assign recentPosts = site.categories.urbanism | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:8 %}

			{% include sitelinkcontent.html %}

		{% endfor %}

	{% elsif page.categories contains "videos" %}
		{% assign recentPosts = site.categories.videos | where_exp:"item", "item.url != page.url" %}
		{% for post in recentPosts limit:4 %}

			{% include sitelinkcontent.html %}

		{% endfor %}
  
	{% endif %}
	
	</ul>
	
</div>