Taken from <a href="/book.#designing-well-tempered-towns">Designing Well-Tempered Towns by Nicholas Boys Smith and Francis Terry</a>.

<div class="post-links">

	<h4>You might also like...</h4>

	<ul class="list">
		
		<li class="quarter">
          <a href="/thoughts/poundbury/" alt="Poundbury">
            <img src="/images/essays/poundbury/social.jpg" alt="Poundbury">
            <h4>Poundbury</h4>
          </a>
        </li>

		<li class="quarter">
          <a href="/book/#practice_of_classical_architecture" alt="The Practice of Classical Architecture">
            <img src="/images/projects/house-in-ireland/images/social.jpg" alt="The Practice of Classical Architecture">
            <h4>The Practice of Classical Architecture</h4>
          </a>
        </li>	
	
	</ul>
	
</div>