Taken from <a href="/book/">Designing Well-Tempered Towns by Nicholas Boys Smith and Francis Terry</a>.

<ul class="list blog">
	<li>
      <a href="/thoughts/poundbury/" alt="Poundbury">
        <img src="/images/essays/poundbury/poundbury-tall.jpg" alt="Poundbury" class="tall">
        <img src="/images/essays/poundbury/poundbury-wide.jpg" alt="Poundbury" class="wide">
      </a>
      <div class="blog-text">
        <h2>
          <a class="post-link" href="/thoughts/poundbury/" alt="Poundbury">Poundbury</a>
        </h2>        
        <h4>October 2017</h4>
        <p>Poundbury in Dorset is a new town designed by a variety of architects under a master plan by Leon Krier. Earlier this month I was invited there, to guide a tour from the ICAA.</p>
        <p><a class="post-link" href="/thoughts/poundbury/">Read more</a></p>
      </div>
    </li>
</ul>