.cc-revoke,
.cc-grower {
    background-color: #001c32 !important;
    color: #0096ff !important;
}
.cc-message {
   font-size: smaller !important;
   
   a.cc-link {
      color: #0096ff !important;
	  opacity: 1 !important;
      text-decoration: none !important;
      
      &:hover {
         color: #99d2ff !important;
      }
   }
}
a.cc-btn.cc-dismiss {
	background-color: #00cc00 !important;
   border-color: transparent !important;
   color: $white!important;
   min-width: 60px !important;
   
   &:hover {
      background-color: #26f226 !important;
      text-decoration: none !important;
   }
}
a.cc-btn.cc-deny {
	background-color: #cc0000 !important;
   color: $white !important;
   min-width: 60px !important;
   
   &:hover {
      background-color: #ff0000 !important;
      text-decoration: none !important;
   }
}