/* Site prefooter
==================== */
.prefooter {
	background-position: center;
	background-size: cover;
	
	div {
		margin: 0 auto;
		max-width: 70%;
		padding: 0;
		width: 100%;
		
		@include media-query($on-tablet) {
			max-width: 80%;
		}
	}
	&.example-1 {
		background-image: url(/images/elements/cl-banner-base-01.jpg);
	}
	&.example-2 {
		background-image: url(/images/elements/cl-banner-base-02.jpg);
		border-bottom: 1px solid #fff;
		border-top: 1px solid $grey;
	}
	&.example-3 {
		background-image: url(/images/elements/cl-banner-base-03.jpg);
	}
	&.example-4 {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffbc8+0,cfc765+100 */
		background: #fffbc8; /* Old browsers */
		background: -moz-linear-gradient(top, #fffbc8 0%, #cfc765 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #fffbc8 0%,#cfc765 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #fffbc8 0%,#cfc765 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbc8', endColorstr='#cfc765',GradientType=0 ); /* IE6-9 */
		border-bottom: 1px solid #fffbc8;
		border-top: 1px solid #cfc765;
	}
	&.example-5 {
		div {
			margin: 20px auto;
		    padding: 0;
		    box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
		    width: 95%;
		    max-width: 1280px;
		}
	}
	.cl-content-1 {
		display: block;
	}
	.cl-content-2 {
		display: none;
	}
	@include media-query($on-mobile) {
		.cl-content-1 {
			display: none;		
		}
		.cl-content-2 {
			display: block;
		}
	}
}
/* Site footer
==================== */
.site-footer {
    padding: ($unit*2) 0;
	background: $grey-pale;
}

.site-footer p,
.site-footer ul li {
	margin-bottom: $unit*1.4;
}

.site-footer .wrapper {
	max-width: $unit*160;
	margin-left: auto;
	margin-right: auto;
	margin-top: $unit*2;
	width: calc(100% - (#{$unit} * 6));
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-dark;
    @extend %clearfix;
}
.footer-col-wrapper h2 {
	color: $grey-dark;
}
.footer-col-wrapper a {
	color: $grey;
}

.footer-col {
    float: left;
    margin-bottom: $unit;
	@extend %clearfix;

}

.footer-col-1 {
    width: -webkit-calc(27% - (#{$unit} / 2));
    width:         calc(27% - (#{$unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(23% - (#{$unit} / 2));
    width:         calc(23% - (#{$unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(50% - (#{$unit} / 2));
    width:         calc(50% - (#{$unit} / 2));
}

.foot-banner-short,
.foot-banner-top {
	display: none;
	margin: 0 auto $unit*2;
}
.foot-banner-wide {
	display: block;
	margin-bottom: $unit*1.4;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$unit} / 2));
        width:         calc(50% - (#{$unit} / 2));
		margin-bottom: $unit*2;
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$unit} / 2));
        width:         calc(100% - (#{$unit} / 2));
    }
	.foot-banner-top {
		display: block;
	}
	.foot-banner-wide {
		display: none;
	}
}
@include media-query($on-mobile) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$unit} / 2));
        width:         calc(100% - (#{$unit} / 2));
    }
	.foot-banner-short {
		display: block;
	}
	.foot-banner-top {
		display: none;
	}
}

/* Social Media
==================== */

li.social-icon {
	float: left;
	margin: -$unit $unit 0 0;
	
	img {
		height: 30px;
		width: 30px;
	}
}


.social_bar {
	height: 40px;
	width: 180px;
	margin: 0 auto;
	padding: 10px 0;
}
.social_bar a {
	margin: 0 10px;
	float: left;
	width: 40px;
	height: 40px;
	text-indent:-99999px;
}
.social_bar a:hover,
.social_bar a:focus {
	background-position: -40px;
}
.social_facebook {
	background-image: url(../images/ftanda_facebook.png);
}
.social_instagram {
	background-image: url('../images/ftanda_instagram.png');
}
.social_pinterest {
	background-image: url('../images/ftanda_pinterest.png');
}

/* Prefooter (Homepage)
==================== */
.prefooter {
	color: $white;
	
	a {
		color: $white;
		display: block;
		
		&:hover,&:focus {
			color: $white;
			
			p {
				background: $grey-dark;
				background: #222a5c;
			}
		}
	}
	ul {
		margin: $unit*3 0;
	}
	.promo {
		position: relative;
	}
	.prefooter-text {
		width: 100%;
	}
	h2 {
		font-size: 4vw;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		text-shadow: 0px 0px 12px $black;
		top: 33%;
		
		@include media-query($on-mobile) {
			font-size: 12vw;
		}
	}
	p {
		background: $text-color;
		padding: $unit;
		width: calc(100% - #{$unit*2});
	}
	.wrapper {
		max-width: 100%;
	}
}
