/* Site header
==================== */
header {
	max-width: $unit*160;
	margin-left: auto;
	margin-right: auto;
}
.videoIndex header {
	z-index: 200;
}

.site-header {
	padding: $unit*3 0;
	font-size: $font-size-medium;

    // Positioning context for the mobile navigation icon
    position: relative;
	
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 0;
	
    &,
    &:visited {
        color: $text-color;
    }
}
.site-title img {
	max-width: 200px;
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $link;
        line-height: $line-height;
		
		&:hover {
			color: $link-hover;
		}

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-laptop) {
        position: absolute;
        top: 9px;
        right: $unit / 2;
        background-color: $background-color;
        border-radius: 2px;
        text-align: right;
		z-index: 1;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
