/* Site header
==================== */
header {
	max-width: $unit*160;
	margin-left: auto;
	margin-right: auto;
}
.videoIndex header {
	z-index: 200;
}

.site-header {
	padding: $unit*3 0;
	font-size: $font-size-medium;

    // Positioning context for the mobile navigation icon
    position: relative;
	
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 0;
	
    &,
    &:visited {
        color: $text-color;
    }
}
.site-title img {
	max-width: 200px;
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $link;
        line-height: $line-height;
		
		&:hover {
			color: $link-hover;
		}

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-1100) {
        position: absolute;
        top: 9px;
        right: $unit / 2;
        background-color: $background-color;
        border-radius: 2px;
        text-align: right;
		z-index: 1;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
/*

.site-nav.nav-new {
  float: right;
  line-height: $line-height;
  z-index: 10;
  
  ul {
    margin-left: -20px;
  }
  li {
    list-style: none;
  }
  .nav-trigger {
      display: none;
  }

  .menu-icon,
  .close-icon {
    display: none;
  }
  
  .menu li {
    float: left;
  }
  
  .sub-menu-trigger {
	display: inline-block;
	position: relative;
  }
  
  .sub-menu {
    position: absolute;
    width: 200px;
    
    li {
      float: none;
    }
    
    .page-link {
      display: block;
    }
  }

  .page-link {
    color: $link;
	line-height: $line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover,
    &:focus {
		color: $link-hover;
    }
  }
  .services-link {
    position: relative;
  }

  @include media-query($on-1100) {
    position: absolute;
    top: 9px;
    right: $unit / 2;
    //text-align: right;
	text-align: center;
	
    label[for="nav-trigger"] {
		display: block;
		float: right;
		margin-bottom: 12px;
		width: 36px;
		height: 36px;
		z-index: 2;
		cursor: pointer;
	  
		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
			  fill: $black;
			}
		}
		
		.close-icon {
			display: none;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
			  fill: $text-color;
			}
		}
    }
	.nav-trigger:checked + .nav-label {
		.menu-icon {
			display: none;
		}
		.close-icon {
			display: block;
		}
	}    

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
		//background: $black;
		background: rgba(0,0,0,0.9);
		display: block;
		font-size: 2rem;
		border: 1px solid #fff;
		padding: $unit*3 $unit $unit*6;
		width: 100vw;
		position: absolute;
		right: -5px;
		top: 50px;
		
		@include media-query($on-900) {
			min-height: 50vh;
		}
		.menu-icon {
			display: none;
		}
		.close-icon {
			display: block;
		}
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/* Submenu */

/*.sub-menu-trigger {
	cursor: default;
	position: relative;
}
.sub-menu-trigger ul {
    background: $white;
    margin-left: -20px;
    min-width: 200px;
    padding: 10px 20px;
	position: absolute;
    z-index: 2;
}

.sub-menu-trigger ul li {
    line-height: $line-height;
	list-style: none;
	margin-bottom: 5px;
	
	a {
		color: $white;
	
		&:hover,
		&:focus {
			color: $link;
			text-decoration: none;
		}
	}
	&.last {
        margin-bottom: 0;
    }
}

.sub-menu-trigger .sub-menu {
	display: none;
	
	@include media-query ($on-palm){
		display: block;
		padding: 0;
		position: initial;
	}
}
.sub-menu-trigger:hover .sub-menu,
.sub-menu-trigger:focus .sub-menu {
	display: block;
}*/
