img.desaturate,
.desaturate img {
	filter: grayscale(100%);
}

/* Set max-width
==================== */
header,
.page-content {
  max-width: $unit*160;
  margin-left: auto;
  margin-right: auto;
}
.site-footer .wrapper {
  max-width: $unit*160;
  margin-left: auto;
  margin-right: auto;
  width: calc(#{$content-width} - (#{$unit} * 6));
}

/* Columns
==================== */

.col {
	width: calc(50% - #{$unit});
}
.col-66 {
	width: calc(66% - #{$unit});
		
	@include media-query($on-laptop) {
		width: calc(60% - #{$unit});
	}
	@media screen and(max-width:700px) {
		width: 100%;
	}
}
.col-33 {
	width: calc(33% - #{$unit});
		
	@include media-query($on-laptop) {
		width: calc(40% - #{$unit});
	}
	@media screen and(max-width:700px) {
		width: 100%;
	}	
}
.col-1 {
	float: left;
	margin-right: $unit;
}
.col-2 {
	float: right;
	margin-left: $unit;
}

.block-element {
	margin: $unit*6 0;
}

/* Page content
==================== */
.page-content {
	margin: 0 auto $unit*6;
	min-height: 56vh;
	width: $on-full;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $unit;
    }
}

.post-meta {
    font-size: $font-size-small;
    color: $grey;
}

.post-link {
    display: block;
}

.desktop-header {
	display: block;
	
	@include media-query($on-mobile) {
		display: none;
	}
}
.mobile-header {
	display: none;
	
	@include media-query($on-mobile) {
		display: block;
	}
}
.quote-box {
	background: $text-color;
    color: $white;
}

/* Posts
==================== */
.post-header {
    margin-bottom: $unit*3;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
ul.post-list li {
	list-style: none;
	float: none;
	margin-bottom: $unit*3;
	@extend %clearfix;
}
ul.post-list li img {
	float: left;
	width: 33%;
	padding: 0 ($unit*2) ($unit*2) 0;
	
	&.tall {
		display: block;
	}	
	&.wide {
		display: none;
	}
	
	@include media-query ($on-laptop) {
		float: none;
		width: 100%;
		padding: 0 0 ($unit*2) 0;
		
		&.tall {
			display: none;
		}	
		&.wide {
			display: block;
		}
	}
	
	@include media-query ($on-mobile) {
		&.tall {
			display: block;
		}	
		&.wide {
			display: none;
		}
	}
	
}

/* Blog style pages
==================== */
ul.blog {

	p {
		text-align: justify;
	}
	li {
		list-style: none;
		float: none;
		margin-bottom: $unit*3;
		@extend %clearfix;

		img {
			float: left;
			width: 33%;
			padding: 0 ($unit*2) ($unit*2) 0;

			&.tall {
				display: block;
			}	
			&.wide {
				display: none;
			}
		
			@include media-query ($on-tablet) {
				float: none;
				width: 100%;
				padding: 0 0 ($unit*2) 0;
		
				&.tall {
					display: none;
				}	
				&.wide {
					display: block;
				}
			}
			@include media-query ($on-mobile) {
				&.tall {
					display: block;
				}	
				&.wide {
					display: none;
				}
			}
		}	
	}
	.blog-text {
		width: calc(100% - (33% + (#{$unit}*2)));
		float: right;
	
		@include media-query ($on-laptop) {
			float: none;
			width: 100%;
		}
	}
}

.article {
	max-width: 1280px;
	margin: 0 auto;
	
	h2, h3, p {
		margin-bottom: $unit*3;
	}
	.single-image {
		margin-top: $unit*3;
		margin-bottom: $unit*3;
	}
	.thoughts-description {
		h2, h3, p {
			margin-bottom: $unit*1;
		}
	}
}

/* Image captions
==================== */
p.caption {
	font-size: 0.88em;
	margin-bottom: -1.6rem;
    margin-top: 8px;
}
p.multi-caption {
	font-size: 0.88em;
}

/* Featured images
==================== */

.featured-image {
	width: 100%;
	margin-bottom: 12px;
}

/* Square tiles
==================== */
ul.tiles {
	min-width: 100%;
	
	li.sixth {
		width:16.6666666666%;
		margin: 0;
		@include media-query($on-laptop) {
			width: 33.3333333333%;
		}
		@include media-query($on-mobile) {
			width: 100%;
		}
	}
}
