img.desaturate,
.desaturate img {
	filter: grayscale(100%);
}

.half-inset {
	float: left;
	margin: 0 3% $unit*3 0;
	width: 48.5%;
	
	@include media-query($on-mobile) {
		width: 100%;
		margin-right: 0;
	}
}
.third-inset {
	float: left;
	margin: 0 3% $unit*3 0;
	width: 30.3%;
	
	@include media-query($on-tablet) {
		width: 48.5%;
	}
	@include media-query($on-mobile) {
		width: 100%;
		margin-right: 0;
	}
}
.quarter-inset {
	float: left;
	margin: 0 3% $unit*3 0;
	width: 22%;
	
	@include media-query($on-tablet) {
		width: 48.5%;
	}
	@include media-query($on-mobile) {
		width: 100%;
		margin-right: 0;
	}
}

/* Set max-width
==================== */
header,
.page-content {
  max-width: $unit*160;
  margin-left: auto;
  margin-right: auto;
}
.site-footer .wrapper {
  max-width: $unit*160;
  margin-left: auto;
  margin-right: auto;
  width: calc(#{$content-width} - (#{$unit} * 6));
}

/* Columns
==================== */

.col {
	width: calc(50% - #{$unit});
}
.col-66 {
	width: calc(66% - #{$unit});
		
	@include media-query($on-laptop) {
		width: calc(60% - #{$unit});
	}
	@media screen and(max-width:700px) {
		width: 100%;
	}
}
.col-33 {
	width: calc(33% - #{$unit});
		
	@include media-query($on-laptop) {
		width: calc(40% - #{$unit});
	}
	@media screen and(max-width:700px) {
		width: 100%;
	}	
}
.col-1 {
	float: left;
	margin-right: $unit;
}
.col-2 {
	float: right;
	margin-left: $unit;
}

.block-element {
	margin: $unit*6 0;
}

/* Page content
==================== */
.page-content {
	margin: 0 auto $unit*6;
	min-height: 56vh;
	width: $on-full;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $unit;
    }
}

.post-meta {
    font-size: $font-size-small;
    color: $grey;
}

.post-link {
    display: block;
}

.desktop-header {
	display: block;
	
	@include media-query($on-mobile) {
		display: none;
	}
}
.mobile-header {
	display: none;
	
	@include media-query($on-mobile) {
		display: block;
	}
}
.quote-box {
	background: $text-color;
    color: $white;
}

/* Posts
==================== */
.post-header {
    margin-bottom: $unit*3;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.no-title .post-header {
	margin: 0;
    opacity: 0;
    height: 0;
    width: 0;	
}

.post-content {
    margin-bottom: $unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


ul.post-list li {
	list-style: none;
	float: none;
	margin-bottom: $unit*3;
	@extend %clearfix;
}
ul.post-list li img {
	float: left;
	width: 33%;
	padding: 0 ($unit*2) ($unit*2) 0;
	
	&.tall {
		display: block;
	}	
	&.wide {
		display: none;
	}
	
	@include media-query ($on-laptop) {
		float: none;
		width: 100%;
		padding: 0 0 ($unit*2) 0;
		
		&.tall {
			display: none;
		}	
		&.wide {
			display: block;
		}
	}
	
	@include media-query ($on-mobile) {
		&.tall {
			display: block;
		}	
		&.wide {
			display: none;
		}
	}
	
}

.post-links {
	margin-top: $unit*8;
}

/* Blog style pages
==================== */
ul.blog {

	p {
		text-align: justify;
	}
	li {
		list-style: none;
		float: none;
		margin-bottom: $unit*3;
		@extend %clearfix;

		img {
			float: left;
			width: 33%;
			padding: 0 ($unit*2) ($unit*2) 0;

			&.tall {
				display: block;
			}	
			&.wide {
				display: none;
			}
		
			@include media-query ($on-tablet) {
				float: none;
				width: 100%;
				padding: 0 0 ($unit*2) 0;
		
				&.tall {
					display: none;
				}	
				&.wide {
					display: block;
				}
			}
			@include media-query ($on-mobile) {
				&.tall {
					display: block;
				}	
				&.wide {
					display: none;
				}
			}
		}
		iframe {
			float: left;
			width: 33%;
			padding: 0 ($unit*2) ($unit*2) 0;
		
			@include media-query ($on-tablet) {
				float: none;
				width: 100%;
				padding: 0 0 ($unit*2) 0;
			}
		}
	}
	.blog-text {
		width: calc(100% - (33% + (#{$unit}*2)));
		float: right;
	
		@include media-query ($on-laptop) {
			float: none;
			width: 100%;
		}
	}
}

.article,
article {
	max-width: 1200px;
	margin: 0 auto;
	
	h2, h3 {
		margin-bottom: $unit*1.5;
	}
	p, .bottom {
		margin-bottom: $unit*3;
	}
	.single-image {
		margin-top: $unit*3;
		margin-bottom: $unit*3;
	}
	.blog-text {
		h2, h3, p {
			margin-bottom: $unit*1;
		}
	}
}

/* Image captions
==================== */
p.caption {
	font-size: 0.88em;
	margin-bottom: -1.6rem;
    margin-top: 8px;
}
p.multi-caption {
	font-size: 0.88em;
}

/* Featured images
==================== */

.featured-image {
	width: 100%;
	margin-bottom: 12px;
}

/* Square tiles
==================== */
ul.tiles {
	min-width: 100%;
	
	li.sixth {
		width:16.6666666666%;
		margin: 0;
		@include media-query($on-laptop) {
			width: 33.3333333333%;
		}
		@include media-query($on-mobile) {
			width: 100%;
		}
	}
}

/* Banner Area
==================== */
.banner-area {
	margin-bottom: 30px;
	@extend %clearfix;
}
.banner-area div {
	float: left;
	position: relative;
}
.banner-area img {
	display: block;
	width: 100%;
}
.banner-area .banner-01 img {
	max-width: none;
}
.banner-area p {
	margin: 0;
}
.banner-01{
	float: left;
	font-size: 32px;
    padding: 0 0.5% 0 0;
	width: calc(67% - 0.5%);
}
.banner-02, .banner-03 {
	float:left;
	font-size: 24px;
    padding: 0 0 1% 0.5%;	
    width: calc(33% - 0.5%);
}
.banner-area .caption-wrap {
    bottom: 0;
    color: white;
    position: absolute;
}
.banner-area .caption {
	background: rgba(0,28,50,0.9);
	font-family: 'Oswald', sans-serif;
    line-height: 1.4;
	opacity: 1;
	padding: 10px 20px;
}
@media only screen and (max-width: 800px) {
	.banner-area div.banner-01{
		float: none;
		width: 100%;
		padding: 0 0 1% 0;
	}
	.banner-area div.banner-02 {
		float: left;
		padding: 0 0.5% 0 0;
		width: 49.5%;
	}
	.banner-area div.banner-03 {
		float: right;
		padding: 0 0 0.5% 0;
		width: 49.5%;
	}
}
// @media only screen and (max-width: 600px) {
// 	.banner-02, .banner-03 {
// 		width: 100%;
// 	}
// 	.practice-page-new .banner-02,
// 	.practice-page-new .banner-03 {
// 		width: 50%;
// 	}
// 	.banner-area .caption {
// 		font-size: 21px;
// 	}
// }
