.site-nav {
  align-items: center;
  color: $white;
  float: right;
  display: flex;
  height: 100%;

  .nav-trigger {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .page-link {
    color: $link;
    line-height: $line-height;
    margin-left: 10px;
    margin-right: 10px;

    &:hover,
    &:focus {
      color: $link-hover;
      text-decoration: none;
    }
  }
}

/* Submenu */

.sub-menu-trigger {
  cursor: default;
  padding-bottom: $unit*2;
  position: relative;

  ul {
    background: rgba(255,255,255,0.9);
    margin-left: 478px;
    min-width: 200px;
    padding: 10px 20px;
    position: absolute;
    z-index: 2;

    li {
      font-size: 90%;
      line-height: initial;
      list-style: none;
      

      a.page-link {
        color: link;
        padding-right: 0;
        margin-left: 0;

        &:hover,
        &:focus {
          color: $link-hover;
          text-decoration: none;
        }
      }
      &.last {
        margin-bottom: 0;
      }
    }
  }

  .sub-menu {
    display: none;
  }

  &:hover .sub-menu,
  &:focus .sub-menu {
    display: block;
  }
}

.site-home .full-page {

  .site-nav {

    .menu-icon > svg {
      fill: $white;

      &:hover,
      &:focus {
        fill: #E0CFB3;
      }
    }
    .page-link:hover,
    .page-link:focus {
      color: #E0CFB3;
    }
    .sub-menu-trigger ul {
      background: rgba(102,132,158,0.95);
      border-radius: 6px;
      margin-left: 154px;
      margin-top: 8px;
      min-width: auto;
    }
  }
}

@include media-query($on-1200) {
  .site-nav {
    display: block;
    height: auto;
    position: absolute;
    top: 33px;
    right: $unit;
    text-align: right;
    z-index: 2;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }
    .menu-divider {
      display: none;
    }
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $link;
      }
    }
    input ~ .trigger {
      clear: both;
      display: none;
    }
    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    .page-link {
      display: block;
      padding: 0 10px;
      margin: 10px 0;
    }
    .trigger {
      background: rgba(255,255,255,0.9);
      border-radius: 6px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.22);
    }
    // .sub-menu-trigger {

    //   ul {
    //     background: none;
    //     margin-left: 0;
    //     margin-bottom: 0;
    //     min-width: 0;

    //     .page-link {
    //       line-height: 1;
    //     }
    //   }
    //   .sub-menu {  
    //     display: block;
    //     padding: 0;
    //     position: initial;
    //   }
    // }
    .sub-menu-trigger {

      &:hover ul,
      &:focus ul {
        display: contents;
      }

      // .sub-menu-title {
        
      //   &::before {
      //     font-family: "FontAwesome";
      //     content: "\f0d7";
      //     padding-right: 10px;
      //   }
      // }
      
      // &:hover .sub-menu-title::before,
      // &:focus .sub-menu-title::before {
      //   content: "";
      //   padding-right: 0;
      // }
    }
  }

  .site-home .full-page {

    .site-nav {
      background: none;
      box-shadow: none;

      &:hover,
      &:focus {
          background: none;
      }
      
      .trigger {
        background-color: rgba(102,132,158,0.95);
        border-radius: 6px;
      }
      .sub-menu-trigger ul {
        background: none;
        margin-left: 0;
      }
    }
  }
}