/* Splash / Full Page - full background
==================== */
.splash-page {
	display: flex;
    flex-direction: column;
}
.splash-page,
.full-page {
	background-size: cover;
	background-position: center;
    justify-content: center;
	width: 100%;
	height: 100vh;
	-webkit-transition: 2s background-image;
    transition: 2s background-image;

	img.logo {
		object-fit: cover;
	}
	.content:after {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
	}
	.content img {
		position: relative;
		z-index: 2;
	}
	.credit {
		bottom: 0;
		color: $white;
		font-size: $font-size-small;
		left: 0;
		right: 0;
		position: absolute;
		text-align: center;
	}
	.site-header {
		margin-right: auto;
		margin-left: auto;
		max-width: -webkit-calc(#{$content-width} - (#{$unit} * 6));
		max-width: calc(#{$content-width} - (#{$unit} * 6));
		left: $unit*1.5;
		padding-right: 0;
		padding-left: 0;
		position: absolute;
		top: 0;
		width: calc(100% - (#{$unit} * 3));
		
			img {
				display: none;
			}
		    @include media-query($on-laptop) {
		        padding-right: $unit / 2;
		        padding-left: $unit / 2;
		        max-width: -webkit-calc(#{$content-width} - (#{$unit} * 3));
		        max-width:         calc(#{$content-width} - (#{$unit} * 3));
		    }
	}
	.site-nav {
	    .page-link {
	        color: $white;
		
			&:hover {
				color: $grey-pale;
			}
		}
		@include media-query($on-laptop) {
			background: none;
			z-index: 1;
		
			&:hover {
				background: $grey;
			}

			.menu-icon {
			    > svg {
			        path {
			            fill: $white;
			        }
			    }
			}
		}
	}
	.wrapper {
		max-width: 100%;
	}
}

/* Blank Page
==================== */
.blank-page {
	
	.site-header {
		
			img {
				display: none;
			}
	}
	.site-nav {
	    .page-link {
	        color: $white;
		
			&:hover {
				color: $grey-pale;
			}
		}
		@include media-query($on-laptop) {
			background: none;
			z-index: 1;
		
			&:hover {
				background: $grey;
			}

			.menu-icon {
			    > svg {
			        path {
			            fill: $white;
			        }
			    }
			}
		}
	}
}

/* Home Page
==================== */
.home-page {
	background: $black;
	
	.full-page {
		height: 100vh;
		
		@media only screen and (max-height: 400px) {
			height: auto;
		}
	}
	.splash-page {
		height: 66vh;
		min-height: 500px;
	}
	.full-page,
	.splash-page {
		.home {
			margin: 0 auto;
			max-width: calc(1809px - (#{$unit} * 6));
			position: relative;
			width: 100%;
			
			.title-area {
				position: inherit;
				left: 0;
				right: 0;
				top: $unit*10;
				margin-left: auto;
				margin-right: auto;
				max-width: calc(1200px - 40px);
				
				@include media-query($on-tablet) {
					max-width: 90%;
				}
				@media only screen and (max-height: 400px) {
					padding: 50px 0 1px;
					position: initial;
				}
				h2 {
					color: $white;
					letter-spacing: 6px;
					margin: $unit*6 auto;
					text-align: center;
					text-shadow: 0 0 16px $black;
					text-transform: uppercase;
				
					@include media-query($on-mobile) {
						font-size: 1.2em;
					}
					@media only screen and (max-height: 400px) {
						margin: $unit*3 auto;
					}
				}
				h3 {
					margin: $unit*4 auto $unit*2;
					text-align: center;
					text-shadow: 0 0 16px $black;
				}
				a {
					color: #fff;
					&:hover,
					&:focus {
						color: $link-hover;	
					}
				}
			}
		}
	}
	.full-page {
		.home {
			.title-area {
				top: 30vh;
			}
		}
	}
	.blank-page {
		
		.home-blank {
			.logo {
				display: block;
				margin: $unit*4 auto;
				max-width: 90%;
				position: inherit;
			}
			h2 {
				color: $white;
				letter-spacing: 6px;
				margin: $unit*6 auto;
				text-align: center;
				text-transform: uppercase;
				
				@include media-query($on-mobile) {
					font-size: 1.2em;
				}
			}
		}
	}
}
.office-home {
	background-image: url('/images/practice/fta-office-condensed.jpg');		
}

.background-office {
	background-image: url('/images/practice/fta-office.jpg');	
}
.background-fade {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
}

.home-page {
	
	.projectBackground {
		background-image: url('/images/home/201908ES.jpg');
		
		.site-header {
			z-index: 10;
		}
		.home {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100vh;
		
			.title-area {
				padding-top: 60px;
				position: initial;
				top: initial;
				
				.logo {
					margin-top: 20px;
					max-width: 900px;
				}
				h2 {
					margin: 20px auto;
				}
			}
		}
	}
	.fadeshade {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.33+0,0+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		height: 100vh;

		@media only screen and (max-height: 600px) {
			min-height: $unit*60;
		}
	}
}

/* Video Home Page
==================== */

.videoIndex .full-page {
	
	background: none;
	background-position: center;
	background-size: cover;
		
	@include media-query($on-tablet) {
		background-image: url('/images/videos/francis-drawing-grab.jpg');
	}
	@media only screen and (max-height: 400px) {
		background-image: url('/images/videos/francis-drawing-grab.jpg');
	}
}
.videoContainer {
	background-image: url('/images/videos/francis-drawing-grab.jpg');
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -101;
	
	@include media-query($on-tablet) {
		display: none;
	}
	@media only screen and (max-height: 400px) {
		display: none;
	}
}
.home-quote {
    bottom: 10px;
	color: #fff;
	font-weight: 400;
	padding-left: 5%;
    padding-right: 5%;
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0 0 16px #000;
	
	a {
		color: #fff;
		&:hover,
		&:focus {
			color: $link-hover;	
		}
	}
}
.home-quote-static {
    display: none;
	bottom: auto;
	@include media-query($on-tablet) {
		display: block;
	}
}
#homeVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw; 
    min-height: 100vh;
	z-index: -100;
}
.videoContentNew {
    overflow-x: hidden;
}
.videoContentNew #homeVideo {
	min-width: 140vw;
	left: -300px;
    top: -180px;
    right: auto;
    bottom: auto;
	min-height: calc(100vh + 200px);
	
	@media only screen and (max-width: 1100px) {
		left: -600px;
	}
}
.videoContentNew .homeShade {
	background-color: rgba(0,0,0,0.4);
    height: 100vh;
	width: 100vw;
}
.videoIndex2 .full-page {		
	@include media-query($on-tablet) {
		background-image: url('/images/videos/francis-drawing-grab-3.jpg');
	}
	@media only screen and (max-height: 400px) {
		background-image: url('/images/videos/francis-drawing-grab-3.jpg');
	}
}
.videoIndex2 .full-page .home {
	@media only screen and (max-width: 600px) {
		min-height: 380px;
	}
}
.videoIndex2 .videoContainer {
	background-image: url('/images/videos/francis-drawing-grab-3.jpg');
	min-height: 700px;
}

/* Home Page Visual
==================== */

.filter {
    align-items: center;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	height: -webkit-fill-available;
}

.home-page-visual {
	h2 {
		margin: 3rem auto 6rem;
		text-shadow: none;
		
		@media only screen and (max-height: 400px) {
			margin: $unit*4 auto;
		}
	}
	h4 {		
		border: 1px solid #fff;
		color: #fff;
		margin: 0 auto;
		max-width: 496px;
		padding: 16px 24px;
		text-align: center;
    	
		&:hover {
			border-color: #d1d1d1;
			color: #d1d1d1;
		}
	}
}


/* News Posts
==================== */
.sold {
	position: relative;
	
	span {
		background: rgba(0,0,0,0.4);
		bottom: 0;
		color: white;
		font-weight: 700;
		padding: 10px 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}

/* Practice Page
==================== */
.practice-page {
	lineout {
		margin-top: 2rem;
	}
	ul {
		h2 {
			margin-bottom: $unit;
		}
		h4 {
			margin-bottom: $unit*2;
		}
		img {
			margin-bottom: $unit*3;
			
			@include media-query($on-tablet) {
				margin-bottom: 0;
			}
		}
		li {
			margin-bottom: 0;
			
			@include media-query($on-tablet) {
				margin-bottom: $unit*2;
			}
		}
	}
}
.practice-page-new {
	.post-subtitle {
		font-style: italic;
	}
}

/* Switch FT image to fit responsive layout */
.practice-ft1 {
	display: block;
	
	@include media-query($on-mobile) {
		display: none;
	}
}
.practice-ft2 {
	display: none;
	
	@include media-query($on-mobile) {
		display: block;
	}
}
.article .profiles h3 {
	margin-bottom: 0; /* Remove spacing between names and positions */
}

img.main {
	float: left;
	margin: 0 ($unit*3) ($unit*3) 0;
	width: 33%;
	
	@include media-query($on-laptop) {
	}
	@include media-query($on-mobile) {
		width: 100%;
		margin-right: 0;
	}
}

.profile-promo-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.profile-promo {
	display: flex;
	align-items: stretch;
	margin-bottom: $unit*3;
	min-width: 32%;
	
	@include media-query($on-laptop) {
		display: none;
	}

	.profile-fill {
		margin: 0 auto;
	}
}
a.profile-promo {
	background: $text-color;
	color: $white;
	display: flex;
	align-items: stretch;
	margin-bottom: $unit*3;
	min-width: 32%;
	min-width: 48%;
	min-height: 230px;
	
	&:hover,
	&:focus {
		background: #66849e;
		
		.profile-thumb {
			background-position: -99999px, center;			
		}
	}
	
	@include media-query($on-laptop) {
		min-height: 160px;
		min-width: 48%;
	}
	@include media-query($on-tablet) {
		min-width: 100%;
	}
	
	.profile-thumb {
		background-position: center, center;
		background-repeat: no-repeat, no-repeat;
		background-size: cover;
		min-width: 50%;
		width: 50%;
		
		
		@include media-query($on-tablet) {
			height: $unit*30;
			width: 100%;
		}
		@include media-query($on-mobile) {
		}
	}
	.profile-intro {
		padding: $unit*2;
		width: 50%;
		
		h3,h4 {
			margin-bottom: 0;
		}
		small:hover {
			text-decoration: underline;
		}
		@include media-query($on-mobile) {
			width: 100%;
		}
	}
	@include media-query($on-mobile) {
		display: block;
	}
}
.profile-thumb-ft {
	background-image: url(/images/practice/francis-terry-b.jpg), url(/images/practice/francis-terry-a.jpg);
}
.profile-thumb-mt {
	background-image: url(/images/practice/miranda-terry-b.jpg), url(/images/practice/miranda-terry-a.jpg);
}
.profile-thumb-jb {
	background-image: url(/images/practice/jo-bunch-b.jpg), url(/images/practice/jo-bunch-a.jpg);
}
.profile-thumb-mw {
	background-image: url(/images/practice/martyn-winney-b.jpg), url(/images/practice/martyn-winney-a.jpg);
}
.profile-thumb-lc {
	background-image: url(/images/practice/les-canham-b.jpg), url(/images/practice/les-canham-a.jpg);
}
.profile-thumb-aa {
	background-image: url(/images/practice/aaron-eagle-b.jpg), url(/images/practice/aaron-eagle-a.jpg);
}
.profile-thumb-bc {
	background-image: url(/images/practice/bethany-couch-b.jpg), url(/images/practice/bethany-couch-a.jpg);
}
.profile-thumb-cd {
	background-image: url(/images/practice/colin-day-b.jpg), url(/images/practice/colin-day-a.jpg);
}
.profile-thumb-lr {
	background-image: url(/images/practice/lois-rutter-b.jpg), url(/images/practice/lois-rutter-a.jpg);
}
.profile-thumb-mb {
	background-image: url(/images/practice/marcin-branka-b.jpg), url(/images/practice/marcin-branka-a.jpg);
}
.profile-thumb-lr2 {
	background-image: url(/images/practice/leah-roberts-b.jpg), url(/images/practice/leah-roberts-a.jpg);
}
.profile-thumb-ar {
	background-image: url(/images/practice/austen-redman-b.jpg), url(/images/practice/austen-redman-a.jpg);
}
.profile-thumb-jr {
	background-image: url(/images/practice/jack-rayner-b.jpg), url(/images/practice/jack-rayner-a.jpg);
}

/* Profile pages */

.staffprofile em {
	font-family: 'times new roman', serif;
	font-style: italic;
}

.profilepage .post-header {
	display: none;	
}
.profile-head {
	position: relative;
	width: 100%;
	@extend %clearfix;
}
.profile-title {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: $white;
	
	@include media-query ($on-mobile) {
		background: $text-color;
		position: initial;
		padding: 20px;
	}
	h3 {
		margin-bottom: 0;
	}
}
.profile-info {
	display: flex;
	align-items: stretch;
	margin: $unit*6 0;
	
	&.greybox {
		background: $text-color;
		color: $white;
		
		.profile-info-right {
			@include media-query($on-tablet) {
			padding: $unit*3;
			}
		}
	}
	
	.profile-info-left {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;
		
		&.profile-info-ft {
			background-image: url('/images/practice/francis-terry.jpg');
			background-position: top center;
			
			img {
				display: none;
				
				@include media-query($on-tablet) {
					display: block;
				}
			}
			
			@include media-query($on-tablet) {
				background: none;
			}
		}
		&.profile-info-mt {
			background-image: url('/images/practice/miranda-terry.jpg');
		}
		@include media-query($on-tablet) {
			width: 100%;
		}
	}
	.profile-info-right {
		padding: $unit*3;
		width: 50%;
		
		p {
			padding-bottom: $unit*2;
		}
		lineout {
			border-color: $white;
			margin: 0 0 $unit*2;
		}
		@include media-query($on-tablet) {
			padding: $unit*3 0;
			width: auto;
		}
	}
	@include media-query($on-tablet) {
		display: block;
	}
}
.award {
	margin: $unit*12 auto;
	text-align: center;
	
	h2 {
		margin-bottom: $unit*4;
	}
	ul {
		margin: 0 auto $unit*4;
	}
	.award-text {
		display: flex;
		font-size: $unit*1.6;
		
		div {
			font-family: 'Cantata One', serif;
			
			&.award-first {
				padding-right: 3%;
		
				@include media-query($on-mobile) {
					padding: 0 0 30px;
				}
			}
			&.award-second {
				border-left: 1px solid $text-color;
				border-right: 1px solid $text-color;
				border-top: none;
				border-bottom: none;
				padding: 0 3%;
		
				@include media-query($on-mobile) {
					border-left: none;
					border-right: none;
					border-top: 1px solid $text-color;
					border-bottom: 1px solid $text-color;
					padding: 30px 0;
				}
			}
			&.award-third {
				padding-left: 3%;
		
				@include media-query($on-mobile) {
					padding: 30px 0 0;
				}
			}
		}
		@include media-query($on-mobile) {
			display: block;
		}
	}
	.award-image {
		margin: 0 auto $unit;
		height: 110px;
		width: auto;
	}
}

.projectflow {
	margin: $unit*6 auto;
	text-align: center;
	
	h2 {
		margin-bottom: $unit*4;
	}
	p {
		margin: 0 auto $unit;
		width: calc(100% - 80px);
		
		@include media-query($on-tablet) {
		width: 100%;
		}
	}
	.projectflow-images {
		display: flex;
		flex-direction: row;
		@extend %clearfix;
		
		&.projectflow-bottom {
			margin-bottom: $unit*4;
		}
		.projectflow-image {
			position: relative;
			
			img {
				opacity: 0.5;
			}
			h3 {
				color: #999999;
				margin: 0;
				padding: 10px;
				position: absolute;
				left: 0;
				right: 0;
			    top: 36%;
				
				@include media-query($on-tablet) {
			    top: 45%;
				}
			}
		}
		
		.projectflow-spacer,
		.projectflow-spacer img {
			flex-grow: 0;
			flex-shrink: 0;
			margin: auto;
			width: 40px;
			
			&.row-out {
				
				@include media-query($on-tablet) {
					display: none;
				}
			}
		
			@include media-query($on-tablet) {
				transform: rotate(45deg);
			}
		}
		&.projectflow-first {
			margin-bottom: 40px;
			
			@include media-query($on-tablet) {
			margin-bottom: 0;
			}
		}
		
		@include media-query($on-tablet) {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 600px;
		}
	}
	.projectflow-divider {
		background-image: url('/images/elements/projectflow-line.png');
		background-position: center;
		background-repeat: repeat-x;
		margin: 20px 0;
		height: 40px;
		width: 100%;
		
		img {
			height: 40px;
			width: 40px;
		}
		img.flow-in {
			float: right;
			transform: rotate(90deg);
		}
		img.flow-out {
			float: left;
		}
	}
}

/* Publications Page
==================== */
ul.publications li {
	list-style: none;
	float: none;
	margin-bottom: $unit*3;
	@extend %clearfix;
}
ul.publications li img {
	float: left;
	width: 33%;
	padding: 0 ($unit*2) ($unit*2) 0;
	
	@include media-query ($on-laptop) {
		width: 44%;
	}
	@include media-query ($on-mobile) {
		float: none;
		width: 100%;
		padding: 0 0 ($unit*2) 0; 
	}
}
ul.publications p {
	text-align: justify;
}

/* Videos Page
==================== */
// .videos-page ul.blog li img {
// 	float: none;
// 	padding: 0;
// 	width: auto;
// 	height: auto;
// }

// .play-button {
// 	display: flex;
// 	float: left;
//     justify-content: center;
//     width: 33%;
// 	padding: 0 ($unit*2) ($unit*2) 0;

// 	svg {
// 		align-self: center;
// 		position: absolute;
// 	    width: 40px;
// 		height: 40px;

// 		path {
// 			fill: $white;
// 		}
// 	}

// 	@include media-query ($on-tablet) {
// 		float: none;
// 		width: 100%;
// 		padding: 0 0 ($unit*2) 0;
// 	}
// }
.video1ext {
	display: block;
	
	@include media-query($on-mobile) {
		display: none;
	}
}
.video1 {
	display: none;
	
	@include media-query($on-mobile) {
		display: block;
	}
}
/* Erechtheion essay */
.videoWrapper {
	margin-bottom: $unit*2;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.erechtheion-video {
	background: $black;
	text-align: center;
	width: 100%;
	
	iframe {
		margin: 0 auto;
		height: 360px;
		width: 640px;
	}
	@media screen and (max-width: 640px) {
		background: none;
		
		iframe {
		width: 100%;
		}
	}
	@media screen and (max-width: 520px) {
		background: none;
		height: 293px;
	}
	@media screen and (max-width: 400px) {
		background: none;
		height: 225px;
	}
	@media screen and (max-width: 320px) {
		background: none;
		height: 180px;
	}
}

/* Recruitment Page
==================== */

.recruitmentpage {
	background-image: url('/images/practice/fta-office.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	margin-bottom: 0;
	min-height: 100vh;
	padding-top: $unit*3;
}
.recruitment-text {
	width: 50%;
	
	@include media-query($on-laptop) {
		width: initial;
	}
	a {
		color: $white;
		font-weight: $font-weight-heavy;
			text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
	}
}

/* Contact Page
==================== */
.contact-address {
	margin: ($unit*2) 0;
}
.contact-tel {
	font-size: $font-size*1.2;
		&::before {
			content: 'Tel: ';
		}
		&::after {
			font-weight: $font-weight-heavy;
		}
}
.contact-email {
	font-size: $font-size*1.2;
	&::before {
		content: 'Email: ';
	}
	&::after {
		font-weight: $font-weight-heavy;
	}
}

/* Projects page
==================== */

.drawings-page {
	p a {
		font-size: 120%;
	}
}

/* Projects page
==================== */
.projects-recent {
	margin-bottom: $unit*6;
}
.projects-head {
	margin-bottom: $unit*4;
}
ul.list li.dorset-12 {
	margin-bottom: 5%;
	
	@include media-query($on-mobile) {
		margin-bottom: $unit*3;
	}
}

/* Promo pages
==================== */

/* == Book A Taster Day With Francis Terry == */
.taster-day {
	position: relative;
	
	.col-1 {
		h1 {
			font-size: $unit*3.2;
		}
		h2 {
			background: $text-color;
			color: $white;
			font-size: $unit*2.6;
			padding: $unit*1.2 $unit $unit;
		}
		h3 {
			font-size: $unit*2.1;
			font-weight: 700;
			margin-bottom: $unit*2;
		}
	}
	h3 {
		margin-bottom: $unit;
	}
	ul.list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		
		@extend %clearfix;
		@include media-query($on-mobile) {
			display: block;
		}
		
		&.price-list {
			margin: $unit*3 0 $unit*2;
		}
		lineout {
			border-color: $white;
			margin: $unit 0;
			padding: $unit 0;
		}	
		li.third {
			margin-bottom: 0;
			max-width: fit-content;
			
			&.price {
				background: $text-color;
				color: $white;
				padding: $unit*2;
				
				@include media-query($on-mobile) {
					margin-bottom: $unit*3;
				}
			}
			@include media-query($on-mobile) {
				img {
					margin-bottom: $unit*2;
				}
			}
		}
		li.half .cta {
			padding: $unit*2;
			position: absolute;
			bottom: 0;
			
			h3 {
				margin-bottom: $unit*2;
			}
		}
		li.full .cta {
			padding: $unit*2;
			position: absolute;
			bottom: 0;
			
			h3 {
				margin-bottom: $unit*2;
			}
		}
	}
	a.cta-button,
	input.cta-button {
	background: #0e143c;
		&:hover,
		&:focus {
			background: #222a5c;
		}		
	}
	a.scroll {
		color: #66849e;
		font-weight: $font-weight-bold;
		text-transform: uppercase;
	}
	.box {
		margin: $unit*6 0;
	}
}

.taster-20190701 {
	
	ul.list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		
		@extend %clearfix;
		@include media-query($on-700) {
			display: block;
		}
		
		&.price-list {
			margin: $unit*3 0 $unit*2;

			li.price {

				@include media-query($on-700) {
					margin-right: 0;
					width: 100%;
				}
			}
		}
		lineout {
			border-color: $white;
			margin: $unit 0;
			padding: $unit 0;
		}	
		li.third {
			margin-bottom: 0;
			max-width: fit-content;
			
			&.price {
				background: $text-color;
				color: $white;
				padding: $unit*2;
				
				@include media-query($on-700) {
					margin-bottom: $unit*3;
				}
			}
			@include media-query($on-700) {
				img {
					margin-bottom: $unit*2;
				}
			}
		}
		li.half {
			margin-bottom: 0;
			max-width: fit-content;
			
			&.price {
				background: $text-color;
				color: $white;
				padding: $unit*2;
				
				@include media-query($on-700) {
					margin-bottom: $unit*3;
				}
			}
			@include media-query($on-700) {
				img {
					margin-bottom: $unit*2;
				}
			}
		}
		li.half .cta {
			padding: $unit*2;
			position: absolute;
			bottom: 0;
			
			h3 {
				margin-bottom: $unit*2;
			}
		}
		li.full {
			margin-bottom: 0;
			max-width: 100%;
			margin-right: 0;
			width: 100%;
			
			&.price {
				background: $text-color;
				color: $white;
				padding: $unit*2;
				
				@include media-query($on-700) {
					margin-bottom: $unit*3;
				}
			}
			@include media-query($on-700) {
				img {
					margin-bottom: $unit*2;
				}
			}
		}
		li.full .cta {
			padding: $unit*2;
			position: absolute;
			bottom: 0;
			
			h3 {
				margin-bottom: $unit*2;
			}
		}
	}
}

.taster-form,
.taster-form-2 {
	background: #66849e;
	
	h1 {
		color: $white;
		font-weight: 700;
		font-size: xx-large;
		letter-spacing: 0;
	    margin: 0;
		padding: $unit;
	}
	h3 {
		color: $white;
		font-size: large;
	    margin: 0;
		padding: 0 $unit $unit;
	}
	small {
		color: $white;
		line-height: 3;
		padding: 0 $unit $unit;
	}
	form {
		max-width: calc(100% - (#{$unit}*2));
		margin-left: auto;
	    margin-right: auto;
		
		input,select,textarea {
			margin-bottom: $unit;
		}
		#product-selector {
			margin-bottom: $unit;
		}
		#consent {
			color: $white;
			font-size: smaller;
			line-height: 0.8;
			margin-bottom: $unit;
			
			a {
				color: $white;
				text-decoration: underline;
			}
		}
	}
	@media screen and(max-width:700px) {
		margin-bottom: $unit*2;
	}
}
.taster-form-2 {
	margin-top: $unit*4;
	
	h3 {
		font-size: larger;
		margin: $unit*2 0;
	}
}
a.booking-link {
	color: #66849e;
	font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #66849e;
    margin: 2rem 0;
    padding: 2rem;
    display: inline-block;
}
a.booking-link:hover,
a.booking-link:focus {
	border-color: #999999;
	color: #999999;
}
a.booking-link-2 {
	border: none;
	font-size: initial;
	padding: 0;
}
.video-form-block {
	display: flex;
	align-items: stretch;
	margin-bottom: $unit*3;
	
	.video-form-block-00 {
		background: $text-color;
		color: $white;
		width: 100%;
		
		h2 {
			font-size: $unit*3;
			padding: $unit;
		}
	}
	
	.video-form-block-01 {
		background: $text-color;
		color: $white;
		width: 67%;
		
		h2 {
			font-size: $unit*3;
			padding: $unit;
		}
		@media screen and(max-width:899px) {
			width: 100%;
		}
	}
	.video-form-block-02 {
		background: #66849e;
		display: flex;
		align-items: center;
		width: 33%;
		
		@media screen and(max-width:899px) {
			width: 100%;
		}
	}
	@media screen and(max-width:899px) {
		display: block;
	}
}

.taster-book {
	border: 2px solid #999999;
	margin: 100px auto;
	padding: 60px;
	
	h2,h3 {
		color: #999999;
		text-align: center;
	}
	small {
		display: block;
		text-align: center;		
	}
	.taster-book-content {
		margin: 0 auto;
		max-width: 66%;
		
		@include media-query($on-mobile) {
			max-width: 100%;
		}
	}
	.booking-options {
		margin: 20px auto;
		text-align: center;
		
		span, a, a:hover, a:focus {
			color: #66849e;
		}
	}
}
.form-201907 {	
	
	input,textarea {
		border: none;
		border-bottom: 1px solid #999999;
	}
	select {
		border: 1px solid #999999;
	}
	#submit-button.cta-button {
		display: block;
		background: #66849e;
		margin: 20px auto;
		text-align: center;
		
		&:hover,
		&:focus {
			background: #222a5c;			
		}
	}
		
	@media screen and(max-width:899px) {
		width: 100%;
	}
}

.video-taster-block {
	display: flex;
	align-items: stretch;
	
	.video {
		background: $text-color;
		color: $white;
		width: 100%;
		
		h2 {
			font-size: $unit*3;
			padding: $unit;
		}
	}
}
.focus-text {
	font-weight: 700;
	text-align: center;
}
.drawing-block {
	background: $text-color;
	color: $white;
	display: flex;
	align-items: stretch;
	margin: $unit*6 0;
	
	.drawing-block-01 {
		background: url('/images/feature/drawings.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;
		
		@include media-query($on-mobile) {
			height: $unit*20;
			width: 100%;
		}
	}
	.drawing-block-02 {
		width: 50%;
		
		h2 {
			padding: $unit*2;
		}
		p {
			padding: 0 $unit*2 $unit*2;
		}
		@include media-query($on-mobile) {
			width: 100%;
		}
	}
	@include media-query($on-mobile) {
		display: block;
	}
}
h2.promo-large-text {
	font-size: $unit*4;
	
	@include media-query($on-mobile) {
		font-size: 1.5em;
	}
}
.photoframe {
	border: 4px solid $black;
	max-width: calc(100% - (4rem + 8px));
	padding: $unit*2;
}
.sign-off {
	text-align: center;
}

/* == Book A Taster Day Thank You Page == */
#booking-details.has-error {
	color: #d90000;
}

#booking-details.has-error a {
	color: #000000;
}



/* Home page Beta */

.site-home {
	background: $black;

	// .projectBackground {
	// 	background-image: url('/images/home/201908ES.jpg');
	// }
	
	.fadeshade {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.33+0,0+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		height: auto;
		min-height: 100vh;
	}

	.site-header {
		z-index: 10;
	}
	
	.full-page {
		height: auto;
		min-height: 100vh;
		
		// @media only screen and (max-height: 400px) {
		// 	height: auto;
		// }

		.home {
			margin: 0 auto;
			max-width: calc(1809px - (#{$unit} * 6));
			position: relative;
			width: 100%;

			.home-elements {
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: auto;
				min-height: 100vh;
			
				.title-area {
					max-width: calc(1200px - 40px);
					padding-top: 60px;
				
					@include media-query($on-tablet) {
						max-width: 90%;
					}
					@media only screen and (max-height: 400px) {
						padding: 50px 0 1px;
					}
				}
								
				.logo {
					margin-top: 20px;
					max-width: 900px;
				}
				
				h2 {
					color: $white;
					letter-spacing: 6px;
					margin: 3rem auto;
					padding-bottom: 1rem;
					text-align: center;
					text-shadow: 0 0 16px $black;
					text-transform: uppercase;
				
					@include media-query($on-mobile) {
						font-size: 1.2em;
					}
					@media only screen and (max-height: 400px) {
						margin: $unit*3 auto;
					}
				}
		
				h3 {
					font-weight: 300;
					margin: 0 auto $unit/2;
					text-align: center;
					text-shadow: 0 0 8px $black;
					
					&:hover,
					&:focus {
						text-shadow: 0 0 8px $white;
						text-shadow: none;
					}

					&.subsubheading {

						@media only screen and (min-width: 600px) {
							font-size: 1.6em;
						}
					}

					&.noticeheading {

						@media only screen and (min-width: 600px) {
							font-size: 1.4em;
						}
					}
				}
				.info-area {
					color: $white;
				}
				.promo-area {
					padding-bottom: 12rem;
				}
				p {
					margin: 0 auto;
					padding-bottom: 2rem;
					text-align: center;
					text-shadow: 0 0 8px $black;

					&.quote {
						margin-bottom: $unit/2;
						padding-bottom: 0;
						
						em {
							font-family: 'times new roman', serif;
						}
					}
					&.quote-credit  {
						font-size: 1.5rem;
						font-weight: 700;
						margin-bottom: $unit*3;
						text-indent: $unit*2;
					}
				}
		
				a {
					color: $white;

					&:hover h3,
					&:hover p,
					&:focus h3,
					&:focus p {
						text-shadow: 0 0 5px $white;	
					}
				}
			}
		}
	}
}

.crossfade::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url(/images/home/home-country-house.jpg) url(/images/home/buttermere_33.jpg) url(/images/home/home-extension.jpg) url(/images/home/home-wield-park.jpg) url(/images/home/home-eastridge.jpg) url(/images/home/4K4A4171_EDIT.jpg);
  }

.crossfade > figure {
	animation-name: imageAnimation;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
	backface-visibility: hidden;
	background-size: cover;
	background-position: center center;
	color: transparent;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
}

@keyframes imageAnimation {
	0% {
		background-image: url('/images/home/home-country-house.jpg');
	}
	8% {
		background-image: url('/images/home/home-country-house.jpg');
	}
	16% {
		background-image: url('/images/home/buttermere_33.jpg');
	}
	24% {
		background-image: url('/images/home/buttermere_33.jpg');
	}
	32% {
		background-image: url('/images/home/home-extension.jpg');
	}
	40% {
		background-image: url('/images/home/home-extension.jpg');
	}
	48% {
		background-image: url('/images/home/home-wield-park.jpg');
	}
	56% {
		background-image: url('/images/home/home-wield-park.jpg');
	}
	64% {
		background-image: url('/images/home/home-eastridge.jpg');
	}
	72% {
		background-image: url('/images/home/home-eastridge.jpg');
	}
	80% {
		background-image: url('/images/home/4K4A4171_EDIT.jpg');
	}
	88% {
		background-image: url('/images/home/4K4A4171_EDIT.jpg');
	}
	96% {
		background-image: url('/images/home/home-country-house.jpg');
	}
	100% {
		background-image: url('/images/home/home-country-house.jpg');
	}
}

// .crossfade > figure {
// 	animation: imageAnimation 50s linear infinite 0s;
// 	backface-visibility: hidden;
// 	background-size: cover;
// 	background-position: center center;
// 	color: transparent;
// 	height: 100%;
// 	left: 0px;
// 	opacity: 0;
// 	position: absolute;
// 	top: 0px;
// 	width: 100%;
// 	z-index: 0;
// }
// .crossfade > figure:nth-child(1) {
// 	animation-delay: 3s;
// 	background-image: url('/images/home/buttermere_33.jpg');
// }
// .crossfade > figure:nth-child(2) {
// 	animation-delay: 12s;
// 	background-image: url('/images/home/home-extension.jpg');
// }
// .crossfade > figure:nth-child(3) {
// 	animation-delay: 21s;
// 	background-image: url('/images/home/home-wield-park.jpg');
// }
// .crossfade > figure:nth-child(4) {
// 	animation-delay: 30s;
// 	background-image: url('/images/home/home-eastridge.jpg');
// }
// .crossfade > figure:nth-child(5) {
// 	animation-delay: 39s;
// 	background-image: url('/images/home/home-country-house.jpg');
// }
// .crossfade > figure:nth-child(6) {
// 	animation-delay: 48s;
// 	background-image: url('/images/home/4K4A4171_EDIT.jpg');
// }
// @keyframes imageAnimation {
// 	0% {
//  		animation-timing-function: ease-in;
// 		opacity: 0;
// 	}
// 	8% {
// 		animation-timing-function: ease-out;
// 		opacity: 1;
// 	}
// 	17% {
// 		opacity: 1
// 	}
// 	50% {
// 		opacity: 0
// 	}
// 	100% {
// 		opacity: 0
// 	}
// }