/* == Social Buttons == */

.social-sharing {
	max-width: 1280px;
}
.social-sharing img {
	height: 20px;
	width: auto;
	float: left;
	margin: $unit*4 $unit 0 0;
	border-radius: 3px;
}
.sharing-image {
	height: 20px;
	width: auto;
	float: left;
	margin: $unit $unit 0 0;
	border-radius: 3px;
}
.sharing-image-fancybox {
	height: 20px;
	width: auto;
	float: left;
	border-radius: 3px;
	margin: 0 10px 0 0;
	
	&.last {
		margin: 0;
	}
}
a.fb img {
	background: none;
		
	&:hover {
		background-color: none;
	}
}
a.tweet img {
	background: none;
		
	&:hover {
		background-color: none;
	}
}
a.gplus img {
	background: none;
		
	&:hover {
		background-color: none;
	}
}
a.pin img {
	background: none;
		
	&:hover {
		background-color: none;
	}
}
.fancybox-title ul {	
    list-style: none;
    margin-left: 0;
	
	.fancybox-title-content {
		float: none;
		margin-bottom: 5px;
	}
	.social-overlay {
		margin: 0;
		width: 250px;
		
		@include media-query ($on-tablet) {
			width: 126px;
		}
		@include media-query ($on-mobile) {
			float: none;
			margin: 10px 0 0;
			width: 250px;
		}
		@include media-query ($on-palm) {
			width: 126px;
		}
	}
}
.social-wide {
	display: block;
	
	@include media-query ($on-tablet) {
		display: none;
	}
	@include media-query ($on-mobile) {
		display: block;
	}
	@include media-query ($on-palm) {
		display: none;
	}
}
.social-narrow {
	display: none;
	
	@include media-query ($on-tablet) {
		display: block;
	}
	@include media-query ($on-mobile) {
		display: none;
	}
	@include media-query ($on-palm) {
		display: block;
	}
}

.fancybox-social-3 {
	position: absolute;
	bottom: -50px;
}
.fancybox-social-4 {
	position: absolute;
	top: -50px;
	left: 10px;
}

.share-icon svg,
img.social-icon {
	width: auto;
	height: 20px;

	&:hover {
		filter: drop-shadow(0 4px 2px rgba(0,0,0,0.3));
	}
}