.social-sharing {
	max-width: 1280px;
}
.social-sharing img {
	height: 20px;
	width: auto;
	float: left;
	margin: $unit*4 $unit 0 0;
	border-radius: 3px;
}
.sharing-image {
	height: 20px;
	width: auto;
	float: left;
	margin: $unit $unit 0 0;
	border-radius: 3px;
}
.sharing-image-fancybox {
	height: 20px;
	width: auto;
	float: right;
	margin: $unit 0 0 $unit;
	border-radius: 3px;
}
a.fb img {
	background-color: #4267B2;
		
	&:hover {
		background-color: $link;
	}
}
a.tweet img {
	background-color: #0C7ABF;
	
	&:hover {
		background-color: $link;
	}
}
a.gplus img {
	background-color: #DC4E41;
	
	&:hover {
		background-color: $link;
	}
}
.fancybox-social-3 {
	position: absolute;
	bottom: -50px;
}
.fancybox-social-4 {
	position: absolute;
	top: -50px;
	left: 10px;
}