<!DOCTYPE html>
<html>

  {% include head.html %}

	{% if page.bodyclass == 'profilepage' %}
		<body class="{{ page.bodyclass }} newfont">
  {% elsif page.bodyclass %}
		<body class="{{ page.bodyclass }}">
	{% else %}
		<body>
	{% endif %}
    
  {% if page.comments %}
		{% include facebook-script.html %}
  {% endif %}

  {% include header.html %}
	
	{% if page.featured_image %}<img src="{{ page.featured_image }}" class="page-hero" alt="{{ page.title }}" />{% endif %}			

    <div class="page-content {% if page.pageclass %}{{ page.pageclass }}{% endif %}">
		
		{% if page.page_width == 'full-width' %}
			{{ content }}
		{% else %}
			<div class="wrapper">
				{{ content }}	
			</div>
		{% endif %}
    </div>		

	{% if page.nofollow == 'example' %}
    {% include cl-footer.html %}
	{% else %}
    {% include footer.html %}
	{% endif %}

		
		{% include fancybox.html %}
		
		{% if page.title == 'Drawings' or page.title == 'Full Size Rendered Drawings' or page.title == 'Miscellaneous Drawings' or page.title == 'Sketches' or page.title == 'Watercolours' or page.title == 'Gallery' or page.title == 'Projects' or page.title == 'The Making of the Erechtheion Capital' or page.title == 'Videos' or page.title == 'A Life in Sketchbooks' %}
		
			<script>
				$(function(){
					$.oPageLoader({
						backgroundColor: '#fff',
						progressBarColor: '#a1a1a1',
						fadeLevel: 0.9,
						percentageColor: '#a1a1a1'
					});
				});
			</script>
    
    	{% endif %}

		{% if page.category == "blog" %}

			<script>
				document.addEventListener("DOMContentLoaded", function () {
    				let container = document.getElementById("blog-posts");
    				if (!container) return;
  
    				let posts = Array.from(container.children);
    
    				// Fisher-Yates Shuffle Algorithm
    				function shuffle(array) {
        				for (let i = array.length - 1; i > 0; i--) {
            				let j = Math.floor(Math.random() * (i + 1));
            				[array[i], array[j]] = [array[j], array[i]];
        				}
    				}
  
    				shuffle(posts);
  
    				// Clear the existing list and re-append shuffled items
    				container.innerHTML = "";
    				posts.forEach(post => container.appendChild(post));
				});
			</script>

		{% endif %}

		<script src="/js/navigation/navigation.js"></script>

  </body>

</html>
