<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    {% if page.comments %}
			{% include facebook-script.html %}
    {% endif %}

  {% include header.html %}
	
	{% if page.featured_image %}<img src="{{ page.featured_image }}" class="page-hero" alt="{{ page.title }}" />{% endif %}

    <div class="page-content">
      <div class="wrapper {% if page.rec == 'L' %}light{% endif %}">
        {{ content }}
      </div>			
    </div>		

    {% include footer.html %}
		
		{% include fancybox.html %}
		
		{% if page.title == 'Drawings' or page.title == 'Gallery' or page.title == 'Projects' or page.title == 'The Making of the Erechtheion Capital' or page.title == 'Videos' %}
		
		<script>
			$(function(){
				$.oPageLoader({
					backgroundColor: '#fff',
					progressBarColor: '#a1a1a1',
					fadeLevel: 0.9,
					percentageColor: '#a1a1a1'
				});
			});
		</script>
    
    {% endif %}

  </body>

</html>
