<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="featurepage background-home">

    {% include featureheader.html %}

    <div>
        {{ content }}
    </div>
	
	<!--<script type="text/javascript">
function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
    }
    return array;
}

document.addEventListener("DOMContentLoaded", function(event) {
    var j = 0;
    var images = ['hanoverlodge.jpg', 'highlandspark2.jpg', 'kilboyhoho.jpg', 'portico.jpg'];
    images = shuffleArray(images);
	
    var preloaded = [];
	for (i = 0; i < images.length; i++) {
	   preloaded [i] = new Image();
	   preloaded [i].src = '/images/home/' + images[i];
	}
    
   window.setInterval(function() {
       var nodeList = document.querySelectorAll('.background-home');

       for (var i = 0; i <    nodeList.length; i++) {
           nodeList[i].style.backgroundImage = 'url(/images/home/' + images[j] + ')';
       }
        j = (j > images.length - 2) ? 0 : j + 1;
   }, 5000); //Change 5000 to milliseconds between image change
});
</script>-->

  </body>

</html>
