<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.bodyclass %}
		<body class="{{ page.bodyclass }}">
	{% else %}
		<body>
	{% endif %}
		
		<div class="full-page {{ page.splash-background }}">

			{% include header.html %}

			<div>
				{{ content }}
			</div>
		
		</div>
		
		{% if page.prefooter %}
			<div class="wrapper {% if page.prefooter == 'mono' %}desaturate{% endif %}">
				{% include prefooter.html %}				
			</div>
		{% endif %}
		
		{% include footer.html %}

  </body>

</html>