---
layout: default
---
<article class="post {{ page.article }}">

  <header class="post-header">
    {% if page.subtitle %}
    <h1 class="post-title">{{ page.title }}</h1>
    <h3 class="post-subtitle">{{ page.subtitle }}</h3>
    {% else %}
    <h1 class="post-title">{{ page.title }}</h1>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
    {% unless page.pageclass == 'practice-page' or page.pageclass == 'staffprofile' or page.pageclass == 'contactpage' or page.pageclass == 'terms-page' or page.pageclass == 'privacy-policy' or page.pageclass == 'cookies-page' or page.title == 'Projects' or page.nofollow %}
    {% include sharing.html %}
    {% endunless %}
  </div>

</article>
