---
layout: default
---
<article class="post">

  <header class="post-header">
    {% if page.profile %}    
      <div class="profile-head">
        <img src="/images/practice/{{ page.profile }}" class="profile-image" alt="{{ page.title }}" />
        <div class="profile-title">
          <h1 class="post-title">{{ page.title }}</h1>
          <h3>{{ page.subtitle }}</h3>
        </div>
      </div>
    {% else %}
    <h1 class="post-title">{{ page.title }}</h1>
    {% endif %}
    </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
